
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<%!
from django.utils.translation import ugettext as _
%>

<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/categories/category_factory" class_name="CategoryFactory">
    CategoryFactory(
      "${user_language}",
      "${user_timezone}"
    );
  </%static:require_module>
</%block>

<%include file="corses-with-categories.html" />