
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<%!
from django.utils.translation import ugettext as _
%>

<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/categories/category_factory" class_name="CategoryFactory">
    CategoryFactory(
      "${user_language}",
      "${user_timezone}"
    );
  </%static:require_module>
</%block>

<section class="container container-bs categories ms-categories my-new-container" id="categories-main">

  <main id="main" aria-label="Content" tabindex="-1">

  <section class="find-courses" id="my-categories">
    <header class="wrapper-header-categories">
      <h2 class="header-categories">Categories</h2>
    </header>

    <ul id="category-tabs" class="nav nav-tabs category-tabs">
      <li class="category-tab active">
          <a href="#">Fintech General</a>
      </li>
      <li class="category-tab"><a href="#">WealthTECH</a></li>
      <li class="category-tab"><a href="#">InsurTECH</a></li>
      <li class="category-tab"><a href="#">RegTECH</a></li>
      <li class="category-tab"><a href="#">Bloackchain/Bitcoin</a></li>
      <li class="category-tab"><a href="#">Artificial Intelligence</a></li>
      <li class="category-tab"><a href="#">Enterprise Innovation</a></li>
      <li class="category-tab"><a href="#">Startups</a></li>
    </ul>

    <section class="courses-container">
      <div class="courses">
        <ul class="courses-listing">
        </ul>
      </div>
    </section>
  </section>
  </main>
</section>
