<li class="field text lecturers-topics">
    <label>Which of these Fintech topics would you like to teach?</label>
</li>

<li class="field-group">
    <div class="btn-group ms-checkbox" data-toggle="buttons">
        <label class="btn btn-warning active">
        <input type="checkbox" autocomplete="off" id="topicFinhTech" type="checkbox" checked="checked" name="topicFinTech" value="true">
        <span class="glyphicon glyphicon-ok"></span>
        </label>
    </div>
    <div class="field checkbox" id="cb-topicFinTech">
        <label for="topicFinTech">FinTech</label>
    </div>
</li>

<li class="field-group">
    <div class="btn-group ms-checkbox" data-toggle="buttons">
        <label class="btn btn-warning">
        <input type="checkbox" autocomplete="off" id="topicWealthTech" type="checkbox" name="topicWealthTech" value="false">
        <span class="glyphicon glyphicon-ok"></span>
        </label>
    </div>
    <div class="field checkbox" id="cb-topicWealthTech">
        <label for="topicWealthTech">WealthTech</label>
    </div>
</li>

<li class="field-group">
    <div class="btn-group ms-checkbox" data-toggle="buttons">
        <label class="btn btn-warning">
        <input type="checkbox" autocomplete="off" id="topicInsurTech" type="checkbox" name="topicInsurTech" value="false">
        <span class="glyphicon glyphicon-ok"></span>
        </label>
    </div>
    <div class="field checkbox" id="cb-topicInsurTech">
        <label for="topicInsurTech">InsurTech</label>
    </div>
</li>

<li class="field-group">
    <div class="btn-group ms-checkbox" data-toggle="buttons">
        <label class="btn btn-warning">
        <input type="checkbox" autocomplete="off" id="topicRegTech" type="checkbox" name="topicRegTech" value="false">
        <span class="glyphicon glyphicon-ok"></span>
        </label>
    </div>
    <div class="field checkbox" id="cb-topicRegTech">
        <label for="topicRegTech">RegTech</label>
    </div>
</li>

<li class="field-group">
    <div class="btn-group ms-checkbox" data-toggle="buttons">
        <label class="btn btn-warning">
        <input type="checkbox" autocomplete="off" id="topicEnterpriseInnovation" type="checkbox" name="topicEnterpriseInnovation" value="false">
        <span class="glyphicon glyphicon-ok"></span>
        </label>
    </div>
    <div class="field checkbox" id="cb-topicEnterpriseInnovation">
        <label for="topicEnterpriseInnovation">Enterprise Innovation</label>
    </div>
</li>

<li class="field-group">
    <div class="btn-group ms-checkbox" data-toggle="buttons">
        <label class="btn btn-warning">
        <input type="checkbox" autocomplete="off" id="topicEnterprenourship" type="checkbox" name="topicEnterprenourship" value="false">
        <span class="glyphicon glyphicon-ok"></span>
        </label>
    </div>
    <div class="field checkbox" id="cb-topicEnterprenourship">
        <label for="topicEnterprenourship">Enterprenourship / Startups</label>
    </div>
</li>

<li class="field-group">
    <div class="btn-group ms-checkbox" data-toggle="buttons">
        <label class="btn btn-warning">
        <input type="checkbox" autocomplete="off" id="topicDtAgile" type="checkbox" name="topicDtAgile" value="false">
        <span class="glyphicon glyphicon-ok"></span>
        </label>
    </div>
    <div class="field checkbox" id="cb-topicDtAgile">
        <label for="topicDtAgile">Design Thinking / Agile Wroking</label>
    </div>
</li>

<li class="field-group">
    <div class="btn-group ms-checkbox" data-toggle="buttons">
        <label class="btn btn-warning">
        <input type="checkbox" autocomplete="off" id="topicNA" type="checkbox" name="topicNA" value="false">
        <span class="glyphicon glyphicon-ok"></span>
        </label>
    </div>
    <div class="field checkbox" id="cb-topicNA">
        <label for="topicNA">N/A</label>
    </div>
</li>