<li class="field text lecturers-topics">
    <label>Which of these Technology topics are you qualified to teach?</label>
</li>

<li class="field-group">
    <div class="btn-group ms-checkbox" data-toggle="buttons">
        <label class="btn btn-warning active">
        <input type="checkbox" autocomplete="off" id="techDataScience" type="checkbox" checked="checked" name="techDataScience" value="true">
        <span class="glyphicon glyphicon-ok"></span>
        </label>
    </div>
    <div class="field checkbox" id="cb-techDataScience">
        <label for="techDataScience">Data Science</label>
    </div>
</li>

<li class="field-group">
    <div class="btn-group ms-checkbox" data-toggle="buttons">
        <label class="btn btn-warning">
        <input type="checkbox" autocomplete="off" id="techAI" type="checkbox" name="techAI" value="false">
        <span class="glyphicon glyphicon-ok"></span>
        </label>
    </div>
    <div class="field checkbox" id="cb-techAI">
        <label for="techAI">Artificial Intelligence</label>
    </div>
</li>

<li class="field-group">
    <div class="btn-group ms-checkbox" data-toggle="buttons">
        <label class="btn btn-warning">
        <input type="checkbox" autocomplete="off" id="techBlockchain" type="checkbox" name="techBlockchain" value="false">
        <span class="glyphicon glyphicon-ok"></span>
        </label>
    </div>
    <div class="field checkbox" id="cb-techBlockchain">
        <label for="techBlockchain">Blockchain</label>
    </div>
</li>

<li class="field-group">
    <div class="btn-group ms-checkbox" data-toggle="buttons">
        <label class="btn btn-warning">
        <input type="checkbox" autocomplete="off" id="techCryptocurrencies" type="checkbox" name="techCryptocurrencies" value="false">
        <span class="glyphicon glyphicon-ok"></span>
        </label>
    </div>
    <div class="field checkbox" id="cb-techCryptocurrencies">
        <label for="techCryptocurrencies">Cryptocurrencies</label>
    </div>
</li>

<li class="field-group">
    <div class="btn-group ms-checkbox" data-toggle="buttons">
        <label class="btn btn-warning">
        <input type="checkbox" autocomplete="off" id="techSoftwareDev" type="checkbox" name="techSoftwareDev" value="false">
        <span class="glyphicon glyphicon-ok"></span>
        </label>
    </div>
    <div class="field checkbox" id="cb-techSoftwareDev">
        <label for="techSoftwareDev">Software Development</label>
    </div>
</li>

<li class="field-group">
    <div class="btn-group ms-checkbox" data-toggle="buttons">
        <label class="btn btn-warning">
        <input type="checkbox" autocomplete="off" id="techUX" type="checkbox" name="techUX" value="false">
        <span class="glyphicon glyphicon-ok"></span>
        </label>
    </div>
    <div class="field checkbox" id="cb-techUX">
        <label for="techUX">User Experience</label>
    </div>
</li>

<li class="field-group">
    <div class="btn-group ms-checkbox" data-toggle="buttons">
        <label class="btn btn-warning">
        <input type="checkbox" autocomplete="off" id="techNA" type="checkbox" name="techNA" value="false">
        <span class="glyphicon glyphicon-ok"></span>
        </label>
    </div>
    <div class="field checkbox" id="cb-techNA">
        <label for="techNA">N/A</label>
    </div>
</li>