<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%block name="pagetitle">"Lecturers"</%block>
<%block name="bodyclass">view-lecturers</%block>


<section class="container lecturers" id="categories-main">
<main id="main" aria-label="Content" tabindex="-1">
  <section class="all-lecturers" id="all-lecturers">
    <header class="wrapper-header-lecturers">
      <h2 class="header-lecturers">Our Lecturers</h2>
    </header>
      <div class="section-lecturer">
          Fill in this list
      </div>
  </section>
</main>


