## coding=utf-8

## This is the main Mako template that all page templates should include.
## Note: there are a handful of pages that use Django Templates and which
## instead include main_django.html. It is important that these two files
## remain in sync, so changes made in one should be applied to the other.

## Pages currently use v1 styling by default. Once the Pattern Library
## rollout has been completed, this default can be switched to v2.
<%! main_css = "style-main-v1" %>


<%namespace name='static' file='static_content.html'/>
<% online_help_token = self.online_help_token() if hasattr(self, 'online_help_token') else None %>
<%!
from django.core.urlresolvers import reverse
from django.utils.http import urlquote_plus
from django.utils.translation import ugettext as _
from django.utils.translation import get_language_bidi
from branding import api as branding_api
from pipeline_mako import render_require_js_path_overrides
%>
<!DOCTYPE html>
<!--[if lte IE 9]><html class="ie ie9 lte9" lang="${LANGUAGE_CODE}"><![endif]-->
<!--[if !IE]><!--><html lang="${LANGUAGE_CODE}"><!--<![endif]-->
<head dir="${static.dir_rtl()}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The FINTECH Circle Institute is a peer-to-peer online learning platform, designed to empower finance professionals with the necessary digital skills to adapt to the rapidly changing industry." />
## Define a couple of helper functions to make life easier when
## embedding theme conditionals into templates. All inheriting
## templates have access to these functions, and we can import these
## into non-inheriting templates via the %namespace tag.

## this needs to be here to prevent the title from mysteriously appearing in the body, in one case
<%def name="pagetitle()" />
  <%block name="title">
      <title>
       ${static.get_page_title_breadcrumbs(self.pagetitle())}
      </title>
  </%block>

  % if not allow_iframing:
      <script type="text/javascript">
        /* immediately break out of an iframe if coming from the marketing website */
        (function(window) {
          if (window.location !== window.top.location) {
            window.top.location = window.location;
          }
        })(this);
      </script>
  % endif

  <%
    jsi18n_path = "js/i18n/{language}/djangojs.js".format(language=LANGUAGE_CODE)
  %>

  <script type="text/javascript" src="${static.url(jsi18n_path)}"></script>

  <link rel="icon" type="image/x-icon" href="${static.url(static.get_value('favicon_path', settings.FAVICON_PATH))}" />

  <%static:css group='style-vendor'/>
  <%static:css group='${self.attr.main_css}'/>

  % if not uses_pattern_library:
    % if disable_courseware_js:
      <%static:js group='base_vendor'/>
      <%static:js group='base_application'/>
    % else:
      <%static:js group='main_vendor'/>
      <%static:js group='application'/>
    % endif
  % else:
    ## TODO: Update to only bring in RequireJS
    ## https://openedx.atlassian.net/browse/FEDX-140
    <%static:js group='base_vendor'/>
    <%static:js group='base_application'/>
  % endif

  <script>
    window.baseUrl = "${settings.STATIC_URL}";
    (function (require) {
      require.config({
          baseUrl: window.baseUrl
      });
    }).call(this, require || RequireJS.require);
  </script>
  <script type="text/javascript" src="${static.url("lms/js/require-config.js")}"></script>
  <script type="text/javascript" src="${static.url("vendors/bootstrap/js/bootstrap.min.js")}"></script>
  <%block name="js_overrides">
    ${render_require_js_path_overrides(settings.REQUIRE_JS_PATH_OVERRIDES)}
  </%block>

  % if not disable_courseware_js:
    <%static:js group='module-js'/>
  % endif

  <%block name="headextra"/>
  <%block name="head_extra"/>

  <%include file="/courseware/upgrade.html"/>
  <%static:optional_include_mako file="head-extra.html" is_theming_enabled="True" />

  <%include file="widgets/optimizely.html" />
  <%include file="widgets/segment-io.html" />

  <meta name="path_prefix" content="${EDX_ROOT_URL}">
  <meta name="google-site-verification" content="_mipQ4AtZQDNmbtOkwehQDOgCxUUV2fb_C0b6wbiRHY" />

<% ga_acct = static.get_value("GOOGLE_ANALYTICS_ACCOUNT", settings.GOOGLE_ANALYTICS_ACCOUNT) %>
% if ga_acct:
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '${ga_acct}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
% endif
    <link href="${static.url("vendors/bootstrap/css/bootstrap.css")}" rel="stylesheet">
    <link href="${static.url("vendors/font-awesome/css/font-awesome.min.css")}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&amp;subset=latin-ext" rel="stylesheet">
</head>


<body class="${static.dir_rtl()}  <%block name='bodyclass'/> lang_${LANGUAGE_CODE} ${'authenticated-views' if user.is_authenticated() else ''}">

<%static:optional_include_mako file="body-initial.html" is_theming_enabled="True" />
<div id="page-prompt"></div>
% if not disable_window_wrap:
  <div class="window-wrap" dir="${static.dir_rtl()}">
% endif
    <a class="nav-skip" href="#main">${_("Skip to main content")}</a>

    % if not disable_header:
        <%include file="${static.get_template_path('header.html')}" args="online_help_token=online_help_token" />
        <%include file="/preview_menu.html" />
    % endif

      <div id="carousel-example-generic" class="carousel slide banner-main-page" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
              <div class="item active">
                  <!--<img src="${static.url("images/banner01.png")}" alt="...">-->
                  <div class="background first"></div>
                  <div class="carousel-caption">
                      <h2>Become a FinTech <span>expert</span> </h2>
                      <span class="hidden-xxs">Learn the most in-demand digital and entrepreneurial skills<br />
                        and access knowledge from the most influential<br />
                        FinTech thinkers globally!
                        </span>
                  </div>
              </div>
              <div class="item">
                  <!--<img src="${static.url("images/banner02.png")}" alt="...">-->
                  <div class="background second"></div>
                  <div class="carousel-caption">
                      <h2>Become an <span>Entrepreneur</span>  </h2>
                      <span class="hidden-xxs">Learn from FinTech founders about the best startup methodologies, MVPs,<br />
                        agile development methods. Insights which can also be used to power up<br />
                        Enterprise Innovation within large organisations.</span>
                  </div>
              </div>
              <div class="item">
                  <!--<img src="${static.url("images/banner03.png")}" alt="...">-->
                  <div class="background third"></div>
                  <div class="carousel-caption">
                      <h2>Learn about
                          the Future of <span>Finance</span> </h2>
                      <span class="hidden-xxs">Take charge of your Career as Technology disrupts<br />
                        the global banking and insurance sector!</span>
                  </div>
              </div>
          </div>
          <!--<a href="" title="" class="btn btn-orange">Find courses</a>-->
      </div>
      <script type="text/javascript">
          $('.carousel').carousel({
              interval: 15000
          })
      </script>

    <div class="content-wrapper container-bs" id="content">
      ${self.body()}
      <%block name="bodyextra"/>
    </div>

      % if not user.is_authenticated():
          <div class="section-quote">
              <div class="container-bs">
                  <div class="row-bs">
                      <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                          <img src="${static.url("images/group.png")}" alt="..." class="img-responsive">
                      </div>
                      <div class="col-lg-7 col-md-6 col-sm-5 col-xs-12">
                          <div class="box">
                              <p>
                                  We will empower Finance professionals to acquire the necessary digital understanding and entrepreneurial skills to play
                                  a leading role in the future of Banking, Insurance and Asset Management globally. Make technology disruption work for you by being a step ahead!
                              </p>
                              <div class="author">
                                  <strong>Susanne Chishti</strong>
                                  <span>CEO, FINTECH Circle & FINTECH Circle Institute</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="section-info">
              <div class="container-bs">
                  <div class="row-bs">
                      <div class="col-sm-12 col-xs-12">
                          <div class="item">
                              <h3>Become a <span>Lecturer</span> </h3>
                          <span>Share your Expertise with our global community of 75,000 members.<br />
                            Teaching your Fintech skills is both fun & rewarding.</span>
                              <a href="/lecturers" title="institute.fintechcircle.com/lecturers" class="btn btn-orange">See how it works</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          % if popular_courses:
          <div class="section-popular-courses">
              <div class="container-bs">
                  <div class="row-bs">
                      <div class="col-sm-12 col-xs-12">
                          <h4>Advisory Board Insights</h4>
                          <main aria-label="Content" tabindex="-1">
                              <section class="home">
                                  <section class="courses-container">
                                      <section class="highlighted-courses">
                                          <section class="courses">
                                              <ul class="courses-listing">
                                                  % for course in popular_courses:
                                                  <li class="courses-listing-item">
                                                      <article class="course" id="${course.id}" role="region" aria-label="${course.display_name}">
                                                          <a href="/courses/${course.id}/about">
                                                              <header class="course-image">
                                                                  <div class="cover-image">
                                                                      <img src="${course.course_image_url}" alt="${course.display_name}">
                                                                      <div class="learn-more" aria-hidden="true"></div>
                                                                  </div>
                                                              </header>
                                                              <div class="course-info" aria-hidden="true">
                                                                  <h2 class="course-name">
                                                                      <span class="course-organization">${course.org}</span>
                                                                      <span class="course-tags">${course.short_description}</span>
                                                                      <span class="course-title">${course.display_name}</span>
                                                                  </h2>
                                                                  <div class="course-date localized_datetime" aria-hidden="true">Starts: ${course.start.strftime('%b %-d, %Y')}</div>
                                                              </div>
                                                          </a>
                                                      </article>
                                                  </li>
                                                  % endfor
                                              </ul>
                                          </section>
                                      </section>
                                  </section>
                              </section>
                          </main>
                      </div>
                  </div>
              </div>
              
              <!--<a href="" title="" class="btn btn-orange">View more</a>-->
          </div>
          % endif

          % if tag_list:
          <div class="section-tag">
              <div class="container-bs">
                  <div class="row-bs">
                      <div class="col-sm-12 col-xs-12">
                          <h4>Browse content by tags</h4>
                          <div class="item">
                              <ul>
                                  % for index, tag in enumerate(tag_list):
                                      <li><a href="${EDX_ROOT_URL}/courses?search_query=${tag}" title="" class="btn btn-tag-orange">${tag.upper()}</a></li>
                                  % endfor
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          % endif

          <div class="section-newsletter">
              <div class="container-bs">
                  <div class="row-bs">
                      <div class="col-md-6 col-sm-12 col-xs-12">
                          <h5>Don’t miss a single thing!</h5>
                              <span>Get notified about new courses, events, news & more</span>
                      </div>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                          <form class="form-inline" action="//fintechcircle.us9.list-manage.com/subscribe/post?u=5d1a69ff9ac558afb502b867a&amp;id=dcd1e2deaf" 
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                              <div class="form-group">
                                  <input type="email" class="form-control" id="newsletter" name="EMAIL" placeholder="Enter your e-mail">
                              </div>
                              <div class="clearfix visible-xs"></div>
                              <button type="submit" class="btn btn-default">Subscribe</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      % endif

    % if not disable_footer:
        <%include file="${static.get_template_path('footer.html')}" />
    % endif

% if not disable_window_wrap:
  </div>
% endif

  <%include file="navigation_sidebar.html" />

  <%block name="footer_extra"/>
  <%block name="js_extra"/>

  <%include file="widgets/segment-io-footer.html" />
  <script type="text/javascript" src="${static.url('js/vendor/noreferrer.js')}" charset="utf-8"></script>
  <script type="text/javascript" src="${static.url('js/utils/navigation.js')}" charset="utf-8"></script>
  <%static:optional_include_mako file="body-extra.html" is_theming_enabled="True" />
</body>
</html>

<%def name="login_query()">${
  u"?next={0}".format(urlquote_plus(login_redirect_url)) if login_redirect_url else ""
}</%def>

<!-- Performance beacon for onload times -->
% if settings.FEATURES.get('ENABLE_ONLOAD_BEACON', False):
<script>
  (function () {
    var sample_rate = ${settings.ONLOAD_BEACON_SAMPLE_RATE};
    var roll = Math.floor(Math.random() * 100)/100;
    var onloadBeaconSent = false;

    if(roll < sample_rate){
      $(window).load(function() {
        setTimeout(function(){
          var t = window.performance.timing;

          var data = {
            event: "onload",
            value: t.loadEventEnd - t.navigationStart,
            page: window.location.href,
          };

          if (!onloadBeaconSent) {
            $.ajax({method: "POST", url: "/performance", data: data});
          }
          onloadBeaconSent = true;
        }, 0);
      });
    }
  }());
</script>
% endif
