## mako
<%page expression_filter="h" args="online_help_token"/>
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _

from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user

from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangolib.markup import HTML, Text

# App that handles subdomain specific branding
from branding import api as branding_api
# app that handles site status messages
from status.status import get_site_status_msg
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages
%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

## Add UI Toolkit components if using the Pattern Library
% if uses_pattern_library:
    <%block name="js_extra">
    <%static:require_module module_name="js/header_factory" class_name="HeaderFactory">
    HeaderFactory();
    </%static:require_module>
    </%block>
% endif

<%block>
<%
try:
    course_id = course.id
except:
    # can't figure out a better way to get at a possibly-defined course var
    course_id = None
site_status_msg = get_site_status_msg(course_id)
%>
% if site_status_msg:
<div class="site-status">
  <div class="inner-wrapper">
    <span class="icon fa fa-warning"></span>
    <p>${site_status_msg}</p>
  </div>
</div>
% endif
</%block>
  <header id="global-navigation" class="header-global" >
    <nav class="wrapper-header" aria-label="${_('Global')}">
      <h1 class="hd logo-header">
        <div class="logo">
          <a href="${marketing_link('ROOT')}">
            <!--<%block name="navigation_logo">
            <img src="${static.url("images/finetech-logo-white.png")}" class="img-responsive" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}"/>
            </%block>-->
          </a>
        </div>
      </h1>

      <ol class="list-inline nav-global hidden-xs hidden-sm hidden-md">
        <%block name="navigation_global_links">
            <li class="item nav-global-01">
              <a href="${marketing_link('COURSES')}">Courses</a>
            </li>
            <li class="item nav-global-02">
              <a href="${marketing_link('ABOUT')}">About</a>
            </li>
            <li class="item nav-global-03">
              <a href="${marketing_link('LECTURERS')}">Lecturers</a>
            </li>
            <li class="item nav-global-04">
              <a href="${marketing_link('MEMBERS')}">Members</a>
            </li>
            <li class="sidebar-item">
                <a href="${settings.EXTERNAL_BLOG_URL}">Blog</a>
            </li>
            % if user.is_authenticated():
            <%block name="navigation_global_links_authenticated">
              %if settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff:
                <li class="item nav-global-07">
                  <a href="${reverse('sysadmin')}">Sysadmin</a>
                </li>
              % endif
            </%block>
            % endif
        </%block>
      </ol>

      <div class="right hidden-lg burger-wrapper">
        <div class="button-burger" id="btn">
          <div class="bar top"></div>
          <div class="bar middle"></div>
          <div class="bar bottom"></div>
        </div>
      </div>

      % if user.is_authenticated():
      <%include file="user_dropdown.html"/>
        % if should_display_shopping_cart_func() and not (course and static.is_request_in_themed_site()): # see shoppingcart.context_processor.user_has_cart_context_processor
        <ol class="user">
            <li class="primary">
                <a class="shopping-cart" href="${reverse('shoppingcart.views.show_cart')}">
                    <span class="icon fa fa-shopping-cart" aria-hidden="true"></span> ${_("Shopping Cart")}
                </a>
            </li>
            <%
            username = user.username
            profile_image_url = get_profile_image_urls_for_user(user)['medium']
            %>
            <a style="padding:0px;" href="${reverse('learner_profile', kwargs={'username': user.username})}">
                <img style="max-width:35px;border-radius:5px;" src="${profile_image_url}" alt="${_('Profile image for {username}').format(username=username)}">
            </a>
        </ol>
        % endif
      % else:
      <ol class="right nav-courseware list-inline hidden-xs">
        <%block name="navigation_sign_in">
          <li class="item nav-courseware-01">
            % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
              % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
                <a class="btn btn-login" href="${reverse('course-specific-login', args=[course.id.to_deprecated_string()])}${login_query()}">${_("Sign in")}</a>
              % else:
                <a class="btn btn-login" href="/login${login_query()}">${_("Sign in")}</a>
              % endif
            % endif
          </li>
        </%block>
        <%block name="navigation_register">
            % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
              % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
                <li class="item nav-global-05">
                  <a class="btn-neutral btn-register btn-orange" href="${reverse('course-specific-register', args=[course.id.to_deprecated_string()])}">${_("Register")}</a>
                </li>
              % elif static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION')):
                <li class="item nav-global-06">
                  <a class="btn-neutral btn-register btn-orange" href="/register${login_query()}">${_("Register")}</a>
                </li>
              % endif
            % endif
        </%block>
      </ol>
      % endif

      <div class="course-search">
        <form method="get" action="/courses" class="form-inline">
          <div class="form-group">
            <input class="search-input form-control" name="search_query" type="text" placeholder="${_("Search for a course")}"></input>
          </div>
          <button class="btn btn-default search-button" type="submit">
            <span class="icon fa fa-search" aria-hidden="true"></span><span class="sr">${_("Search")}</span>
          </button>
        </form>
      </div>

    </nav>
</header>
% if course:
<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true">${Text(_('{begin_strong}Warning:{end_strong} Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.')).format(
    begin_strong=HTML('<strong>'),
    end_strong=HTML('</strong>'),
    chrome_link=HTML('<a href="https://www.google.com/chrome" target="_blank">Chrome</a>'),
    ff_link=HTML('<a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a>'),
)}</div>
<![endif]-->
% endif


<%include file="help_modal.html"/>


