<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<%block name="bodyclass">view-about</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container-bs about ms-about">
        <h1>${_("About us")}</h1>
        <p class="top-section">
            <strong>The FINTECH Circle Institute empowers financial services professionals 
            with a combination of digital, innovation and entrepreneurial skills to 
            embrace the technology revolution in banking, insurance and asset management globally.</strong>
        </p>
        <div class="row-bs">
            <div class="col-12 col-md-6 sub-section">
                <p>New technologies such as artificial intelligence, big data analytics and blockchain technologies combined with new business models disrupt finance. Some studies suggest that machines will take over 30% of work in banks (McKinsey, July 2017).</p>
                <br>
                <p>The FINTECH Circle Institute believes that humans will become even more valuable by leveraging the latest fintech innovation. Developing new skills and performing in times of change and uncertainty, will be the right response to the rise of increased automation.</p>
            </div>
            <div class="col-12 col-md-6">
                <p>We provide cutting-edge knowledge and expertise to support people to be fully aware of the latest fintech trends, to understand new technologies and how they can be used to free up financial services professionals to do more valuable and exciting work.</p>
                <br>
                <p>Our Advisory Board consists of business and academic experts with unique insights in the future of finance and education. We are proud to present our Advisory Board Members below:</p>
            </div>
        </div>
    </section>
    <section class="container-bs about ms-board">
        <div class="row-bs">

            <div class="col-xs-12 col-md-4">
                <div class="board-member-card">
                    <div class="images row-bs">
                        <div class="col-xs-8 member-image">
                            <img src="${static.url("images/board/SusanneChishti.jpg")}" alt="..." class="img-responsive">
                        </div>
                            <div class="col-xs-4 logo">
                            <img src="${static.url("images/logos/fintech-logo.png")}" alt="..." class="img-responsive">
                        </div>
                    </div>
                    <h4 class="name">Susanne Chishti (Chair)</h4>
                    <p class="job-title">
                        CEO & Founder FINTECH Circle & FINTECH Circle Institute, Co-Founder The FINTECH Book Series
                    </p>
                    <p class="description">
                        Susanne is the co-Editor of The FINTECH Book, a global bestseller across 107 countries, translated into 5 languages. Susanne is recognized in the European Digital Financial Services ‘Power 50’ 2015, an independent ranking of the most influential people in digital financial services in Europe and has been selected as "City Innovator - Inspirational Woman" in 2016. She has also been a fintech TV Commentator on CNBC and is a guest lecturer on financial technology at the University of Cambridge.  She worked for 15 years in senior positions at Deutsche Bank, Lloyds, Morgan Stanley and Accenture.
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="board-member-card">
                    <div class="images row-bs">
                        <div class="col-xs-8 member-image">
                            <img src="${static.url("images/board/BenBrabyn.jpg")}" alt="..." class="img-responsive">
                        </div>
                            <div class="col-xs-4 logo">
                            <img src="${static.url("images/logos/level39-logo.png")}" alt="..." class="img-responsive">
                        </div>
                    </div>
                    <h4 class="name">Ben Brabyn</h4>
                    <p class="job-title">
                        Chief Executive, Investor, Advisor, Level39, Head at Level39
                    </p>
                    <p class="description">
                        Ben Brabyn amplifies Canary Wharf’s status as a global technology hub at the heart of the UK’s FinTech, Cybersecurity, Retail and Smart-Cities innovation agenda. He brings experience of online payments, cyber and social ecommerce. At UKTI, Ben led the Government team connecting UK startups with global sources of investment.  He brings a deep understanding of national policy combined with practical experience of entrepreneurship gained through founding two successful digital businesses and mentoring via Microsoft Ventures.  Prior to this, he worked as an investment banker at JP Morgan and formerly as an officer in the Royal Marines Commandos.
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="board-member-card">
                    <div class="images row-bs">
                        <div class="col-xs-8 member-image">
                            <img src="${static.url("images/board/PascalBouvier.jpg")}" alt="..." class="img-responsive">
                        </div>
                            <div class="col-xs-4 logo">
                            <img src="${static.url("images/logos/santander-logo.png")}" alt="..." class="img-responsive">
                        </div>
                    </div>
                    <h4 class="name">Pascal Bouvier, CFA</h4>
                    <p class="job-title">
                        Venture Partner at Santander InnoVentures & Linkedin Top Voice (Money & Finance)
                    </p>
                    <p class="description">
                        Pascal is a former banker and entrepreneur turned venture capital investor who has been investing in financial services over the last seven years. Pascal founded and was the General Partner of the fintech venture arm of Route 66, a large family office and is now a Venture Partner with Santander InnoVentures. Pascal has held a variety of executive positions with banks, startups and small sized businesses, all in high growth or hyper growth modes. Pascal is a recognized thought leader in the fintech space and regularly writes about the future of the financial services industry on twitter and his blog.
                    </p>
                </div>
            </div>

        </div>

        <div class="row-bs">

            <div class="col-xs-12 col-md-4">
                <div class="board-member-card">
                    <div class="images row-bs">
                        <div class="col-xs-8 member-image">
                            <img src="${static.url("images/board/ChrisColeridge.jpg")}" alt="..." class="img-responsive">
                        </div>
                            <div class="col-xs-4 logo">
                            <img src="${static.url("images/logos/cambridge-logo.png")}" alt="..." class="img-responsive">
                        </div>
                    </div>
                    <h4 class="name">Chris Coleridge</h4>
                    <p class="job-title">
                        Senior Faculty in Management Practice at Cambridge Judge Business School (University of Cambridge)
                    </p>
                    <p class="description">
                        Chris is a former entrepreneur turned educator and academic. He is Director of the Cambridge Judge Launchpad, which from 2018 offers a part-time Masters degree in Entrepreneurship with a specialisation in Fintech.  His research focus is on collaborative innovation and networks, strategy and entrepreneurship. He consults on collaborative innovation with banks/FSS firms, the tech, defence, automotive and biotech industries, and governments, and advises startups and SME CEOs.
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="board-member-card">
                    <div class="images row-bs">
                        <div class="col-xs-8 member-image">
                            <img src="${static.url("images/board/DavidCraig.jpg")}" alt="..." class="img-responsive">
                        </div>
                            <div class="col-xs-4 logo">
                            <img src="${static.url("images/logos/thomson-reuters-logo.png")}" alt="..." class="img-responsive">
                        </div>
                    </div>
                    <h4 class="name">David Craig</h4>
                    <p class="job-title">
                        President, Financial & Risk at Thompson Reuters
                    </p>
                    <p class="description">
                        David Craig is President of the Financial & Risk (F&R) division at Thomson Reuters with $6.2 billion in revenue.  F&R is a leading provider of financial market and investment information, news, financial transactions and regulatory risk solutions. David is an advisor and investor to several start-ups in FinTech and leads the World Economic Forum’s Digital Disruption Innovation Group on digital identities and federated ledgers (Blockchain). 
                    </p>
                </div>
            </div>


            <div class="col-xs-12 col-md-4">
                <div class="board-member-card">
                    <div class="images row-bs">
                        <div class="col-xs-8 member-image">
                            <img src="${static.url("images/board/JoyMacknight.png")}" alt="..." class="img-responsive">
                        </div>
                            <div class="col-xs-4 logo">
                            <img src="${static.url("images/logos/the-banker-logo.jpg")}" alt="..." class="img-responsive">
                        </div>
                    </div>
                    <h4 class="name">Joy Macknight</h4>
                    <p class="job-title">
                        Deputy Editor at The Banker
                    </p>
                    <p class="description">
                        Joy is the deputy editor at The Banker, covering transaction banking and technology. Previously, she was features editor at Profit & Loss, a foreign exchange and derivatives magazine and conference producer. Before that, she was editorial director at Treasury Today and editor at gtnews, which covers corporate treasury. She also worked as staff writer on Banking Technology and IBM Computer Today, as well as a freelancer on Computer Weekly. 
                        Joy has a BSc from the University of Victoria, Canada.
                    </p>
                </div>
            </div>

        </div>
        
        <div class="row-bs">

            <div class="col-xs-12 col-md-4">
                <div class="board-member-card">
                    <div class="images row-bs">
                        <div class="col-xs-8 member-image">
                            <img src="${static.url("images/board/ToddMcDonald.png")}" alt="..." class="img-responsive">
                        </div>
                            <div class="col-xs-4 logo">
                            <img src="${static.url("images/logos/r3-logo.jpg")}" alt="..." class="img-responsive">
                        </div>
                    </div>
                    <h4 class="name">Todd McDonald</h4>
                    <p class="job-title">
                        CEO & Founder FINTECH Circle & FINTECH Circle Institute, Co-Founder The FINTECH Book Series 
                    </p>
                    <p class="description">
                        Todd is Co-Founder and Head of Ecosystem Development for R3. Todd co-founded R3 in 2013 and was one of the first to uncover the promise of distributed ledger technology for financial services. In his current role, Todd focuses on building the partner application ecosystem for R3’s Corda platform. Prior to R3, Todd spent fourteen years at Standard Chartered Bank as a Managing Director in their Financial Markets group where he held positions such as Global Head of Electronic FX Trading and Head of FX for the Americas. Todd holds a BA in Economics and Political Science from Colgate University.
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="board-member-card">
                    <div class="images row-bs">
                        <div class="col-xs-8 member-image">
                            <img src="${static.url("images/board/OlofPripp.jpg")}" alt="..." class="img-responsive">
                        </div>
                            <div class="col-xs-4 logo">
                            <img src="${static.url("images/logos/korn-ferry-logo.jpg")}" alt="..." class="img-responsive">
                        </div>
                    </div>
                    <h4 class="name">Olaf Pripp</h4>
                    <p class="job-title">
                        Vice Chairman, Board & CEO Services, EMEA 
                    </p>
                    <p class="description">
                        Olaf Pripp is an international citizen based in Korn Ferry’s London and Geneva offices. He focuses primarily on international CEO and Non-Executive searches with a specific emphasis on the next generation of digital savvy leaders. Mr Pripp brings a deep and unique blend of business, technology and leadership insight from working with some of the world’s most prominent corporations. He started to work in the Silicon Valley already in the mid 80’s and he later took on the global leadership for PwC Consulting’s Technology Industry practice. Since he transitioned into the executive search industry, he has worked on an extensive number of senior Technology Executive, CEO and Non-Executive searches around the world.
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="board-member-card">
                    <div class="images row-bs">
                        <div class="col-xs-8 member-image">
                            <img src="${static.url("images/board/KaushalyaSomasundaram.jpg")}" alt="..." class="img-responsive">
                        </div>
                            <div class="col-xs-4 logo">
                            <img src="${static.url("images/logos/hsbc-logo.jpg")}" alt="..." class="img-responsive">
                        </div>
                    </div>
                    <h4 class="name">Kaushalya Somasundaram</h4>
                    <p class="job-title">
                        Global Head of Fintech Partnerships & Strategy at HSBC 
                    </p>
                    <p class="description">
                        As the Head of Fintech Partnerships & Strategy, Kaushalya leads the partnership and corporate venturing for HSBC's core businesses including Global Liquidity and Cash Management, Global Trade and Receivables Finance, Custody and Global Markets. She has led HSBC investments in Fintech companies of strategic importance and the bank's forays into the world of distributed ledgers. Kaushalya has held a variety of senior roles across HSBC including Innovation Investments, Strategy & Planning, Corporate Development and Group Audit.
                    </p>
                </div>
            </div>

        </div>
        
        <div class="row-bs">

            <div class="col-xs-12 col-md-4">
                <div class="board-member-card">
                    <div class="images row-bs">
                        <div class="col-xs-8 member-image">
                            <img src="${static.url("images/board/PhilipTreleaven.jpg")}" alt="..." class="img-responsive">
                        </div>
                            <div class="col-xs-4 logo">
                            <img src="${static.url("images/logos/ucl-logo.png")}" alt="..." class="img-responsive">
                        </div>
                    </div>
                    <h4 class="name">Prof. Philip Treleaven</h4>
                    <p class="job-title">
                        Professor & Director of UK Financial Computing Centre at University College London 
                    </p>
                    <p class="description">
                        The UK Centre for Financial Computing is a collaboration of UCL, LSE, LBS and the major UK investment banks/funds. We have over 60 PhD students who work with a bank, fund or regulator on software and analytics.
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="board-member-card">
                    <div class="images row-bs">
                        <div class="col-xs-8 member-image">
                            <img src="${static.url("images/board/MarkosZachariadis.jpg")}" alt="..." class="img-responsive">
                        </div>
                            <div class="col-xs-4 logo">
                            <img src="${static.url("images/logos/wbs-logo.png")}" alt="..." class="img-responsive">
                        </div>
                    </div>
                    <h4 class="name">Markos Zachariadis</h4>
                    <p class="job-title">
                        Assistant Professor at Warwick Business School & Research Fellow at the University of Cambridge 
                    </p>
                    <p class="description">
                        Markos is Assistant Professor of Information Systems & Management at Warwick Business School and a FinTech Research Fellow at the Cambridge Centre for Digital Innovation (CDI), University of Cambridge. Markos' research sits at the cross-section of economics of digital innovation, financial technology studies, and network economics, and has studied extensively the economic impact of ICT adoption on bank performance, the diffusion of payment networks, and the role of data & standards in payment infrastructures (SWIFT) and financial markets (LEI). 
                    </p>
                </div>
            </div>

        </div>
    </section>
</main>
