<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<%block name="bodyclass">view-about</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container-bs about ms-about">
        <h1>${_("About us")}</h1>
        <p>
            <strong>The FINTECH Circle Institute empowers financial services professionals 
            with a combination of digital, innovation and entrepreneurial skills to 
            embrace the technology revolution in banking, insurance and asset management globally.</strong> 
        </p>
        <div class="row-bs">
            <div class="col-12 col-md-6">
                <p>New technologies such as artificial intelligence, big data analytics and blockchain technologies combined with new business models disrupt finance. Some studies suggest that machines will take over 30% of work in banks (McKinsey, July 2017).</p>
                <br>
                <p>The FINTECH Circle Institute believes that humans will become even more valuable by leveraging the latest fintech innovation. Developing new skills and performing in times of change and uncertainty, will be the right response to the rise of increased automation.</p>
            </div>
            <div class="col-12 col-md-6">
                <p>We provide cutting-edge knowledge and expertise to support people to be fully aware of the latest fintech trends, to understand new technologies and how they can be used to free up financial services professionals to do more valuable and exciting work.</p>
                <br>
                <p>Our Advisory Board consists of business and academic experts with unique insights in the future of finance and education. We are proud to present our Advisory Board Members below:</p>
            </div>
        </div>
    </section>
</main>
