<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Cookies policy")}</%block>

<%block name="bodyclass">view-tos</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>The FINTECH Circle Institute Cookies Policy</h1>
        <br>
        <p>
<p>
    This Cookies Policy sets out the basis on which we, FINTECH Circle Ltd use
    cookies and similar technologies on or in relation to
    www.FINTECHCircleInstitute.com (our <strong>website</strong>). This Cookies
    Policy is effective from 15 May 2018.
</p>
<p>
    ‘Essential’ cookies are automatically placed on your computer or device
    when you access our website or take certain actions on our website.
    ‘Non-essential’ cookies and other technologies are only placed on your
    computer or device if you have consented to us doing so. For information on
    the difference between essential and non-essential cookies, see the section
    below entitled <u>About cookies</u>.
</p>
<p>
    For information on how you consent and how you can withdraw your consent to
    us placing non-essential cookies and other technologies on your computer or
device, see the section below entitled    <u>How to accept or reject cookies</u>.
</p>
<h1>
    <strong>Contents</strong>
</h1>
<ul>
    <li><a href="#about">
        About cookies
    </a>
    </li>
    <li><a href="#list">
        List of cookies used
    </a>
    </li>
    <li><a href="#essential">
        Essential cookies
    </a>
    </li>
    <li><a href="#nonessential">
        Non-essential cookies
    </a>
    </li>
    <li><a href="#beacons">
        Web beacons
    </a>
    </li>
</ul>
<p>
    · How to accept or reject cookies
</p>
<ul>
    <li>
        Copyright, credit and logo
    </li>
</ul>
<h1>
    <strong></strong>
</h1>
<h1 id="about">
    <strong>About cookies</strong>
</h1>
<p>
    <strong>What are cookies?</strong>
</p>
<p>
    Cookies are small data files sent by a website’s server to a web browser,
    processor memory or hard drive and stored there. They can be used for a
    range of different purposes, such as customising a website for a particular
    user, helping a user navigate a website, improving that user’s website
    experience, and storing that user’s preferences and login information.
</p>
<p>
    <strong>Essential and non-essential cookies</strong>
</p>
<p>
    Cookies can be classified as either ‘essential’ or ‘non-essential’.
</p>
<p>
    <u>Essential cookies</u>
    : these are cookies that are either:
</p>
<p>
    · used solely to carry out or facilitate the transmission of communications
    over a network; or
</p>
<p>
    · strictly necessary to provide an online service (e.g. our website or a
    service on our website) which you have requested.
</p>
<p>
    <u>Non-essential cookies</u>
    : these are any cookies that do not fall within the definition of essential
    cookies, such as cookies used to analyse your behaviour on a website
    (‘analytical’ cookies) or cookies used to display advertisements to you
    (‘advertising’ cookies).
</p>
<h1>
    <strong></strong>
</h1>
<h1>
    <strong>Session and persistent cookies</strong>
</h1>
<p>
    Cookies can be classified as either ‘session’ or ‘persistent’, depending on
    how long they last after they are placed on your browser.
</p>
<p>
    <u>Session cookies</u>
    : session cookies last for as long as you keep your browser open. They
    expire when you close your browser.
</p>
<p>
    <u>Persistent cookies</u>
    : persistent cookies expire at a fixed point in time or if you manually
    delete them from your browser, whichever occurs first.
</p>
<h1>
    <strong>First and third party cookies</strong>
</h1>
<p>
    Cookies can be classified as ‘first party’ or ‘third party’.
</p>
<p>
    <u>First party cookies</u>
    : these are cookies placed on your device by our website domain.
</p>
<p>
    <u>Third party cookies</u>
    : these are cookies placed on your device by third party website domains.
</p>
<p>
If you require further information about cookies in general, please visit    <a href="http://www.allaboutcookies.org">www.allaboutcookies.org</a>
</p>
<h1>
    <strong></strong>
</h1>
<h1 id="list">
    <strong>List of cookies used </strong>
</h1>
<h1>
    We use the following cookies in relation to our website:
</h1>
<table border="0" cellspacing="0" cellpadding="0" width="503">
    <thead>
        <tr>
            <td width="85" valign="bottom">
                <p>
                    <strong>Name of Cookie</strong>
                </p>
            </td>
            <td width="78" valign="bottom">
                <p>
                    <strong>Essential or Non-Essential</strong>
                </p>
            </td>
            <td width="64" valign="bottom">
                <p>
                    <strong>Type of Cookie</strong>
                </p>
            </td>
            <td width="71" valign="bottom">
                <p>
                    <strong>First or Third-Party</strong>
                </p>
            </td>
            <td width="64" valign="bottom">
                <p>
                    <strong>Session or Persistent</strong>
                </p>
            </td>
            <td width="50" valign="bottom">
                <p>
                    <strong>1 year</strong>
                </p>
            </td>
            <td width="92" valign="bottom">
                <p>
                    <strong>Purpose</strong>
                </p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="85">
                <p>
                    _ga
                </p>
            </td>
            <td width="78">
                <p>
                    Non-essential
                </p>
            </td>
            <td width="64">
                <p>
                    Analytical
                </p>
            </td>
            <td width="71">
                <p>
                    Third Party
                </p>
            </td>
            <td width="64">
                <p>
                    Session
                </p>
            </td>
            <td width="50">
                <p>
                    1 year
                </p>
            </td>
            <td width="92">
                <p>
                    To distinguish website visitors
                </p>
            </td>
        </tr>
        <tr>
            <td width="85">
                <p>
                    _gat
                </p>
            </td>
            <td width="78">
                <p>
                    Non-essential
                </p>
            </td>
            <td width="64">
                <p>
                    Analytical
                </p>
            </td>
            <td width="71">
                <p>
                    Third Party
                </p>
            </td>
            <td width="64">
                <p>
                    Session
                </p>
            </td>
            <td width="50">
                <p>
                    1 year
                </p>
            </td>
            <td width="92">
                <p>
                    To distinguish website visitors
                </p>
            </td>
        </tr>
        <tr>
            <td width="85">
                <p>
                    _gid
                </p>
            </td>
            <td width="78">
                <p>
                    Non-essential
                </p>
            </td>
            <td width="64">
                <p>
                    Analytical
                </p>
            </td>
            <td width="71">
                <p>
                    Third Party
                </p>
            </td>
            <td width="64">
                <p>
                    Session
                </p>
            </td>
            <td width="50">
                <p>
                    1 year
                </p>
            </td>
            <td width="92">
                <p>
                    To distinguish website visitors
                </p>
            </td>
        </tr>
        <tr>
            <td width="85">
                <p>
                    catAccCookies
                </p>
            </td>
            <td width="78">
                <p>
                    Non-essential
                </p>
            </td>
            <td width="64">
                <p>
                    Legal
                </p>
            </td>
            <td width="71">
                <p>
                    First Party
                </p>
            </td>
            <td width="64">
                <p>
                    Session
                </p>
            </td>
            <td width="50">
                <p>
                    1 month
                </p>
            </td>
            <td width="92">
                <p>
                    To record the fact that this site uses cookies
                </p>
            </td>
        </tr>
        <tr>
            <td width="85">
                <p>
                    wordpress_logged_in
                </p>
            </td>
            <td width="78">
                <p>
                    Essential
                </p>
            </td>
            <td width="64">
                <p>
                    User-specific
                </p>
            </td>
            <td width="71">
                <p>
                    First Party
                </p>
            </td>
            <td width="64">
                <p>
                    Session
                </p>
            </td>
            <td width="50">
                <p>
                    1 year
                </p>
            </td>
            <td width="92">
                <p>
                    To determine logged-in users from non-logged-in users
                </p>
            </td>
        </tr>
    </tbody>
</table>
<h1 id="essential">
    <strong>Essential cookies</strong>
</h1>
<p>
    These are cookies which are strictly necessary for our website to be able
    to operate or to provide you with a service on our website which you have
    requested. We use the following essential cookies on our website:
</p>
<p>
    - first party session cookies to remember your input when you fill in an
    online form over several pages on our website. These cookies are:
    wordpress_logged_in
</p>
<p>
    - first party session cookies to identify and authenticate you when you log
    into our website so you do not need to repeatedly enter your login
    information. These cookies are: wordpress_logged_in
</p>
<p>
    - first party persistent security cookies used for detecting repeated
    failed login attempts. These cookies are: wordpress_logged_in
</p>
<p>
    - first party persistent security cookies used to prevent abuse of the
    login system on our website. These cookies are: wordpress_logged_in
</p>
<p>
    - first party session cookies to recognise whether you have accepted the
    use of cookies on our website. These cookies are: catAccCookies. These
    cookies expire after 1 month.
</p>
<p>
    <strong>Legal basis for processing: </strong>
    we process information about you contained in or obtained from essential
    cookies in our<strong> </strong>legitimate interests (Article 6(1)(f) of
    the General Data Protection Regulation).
    <strong>
        <br/>
        Legitimate interests:
    </strong>
    ensuring our site functions properly and providing you with online services
    you have requested.<strong></strong>
</p>
<h1>
    <u>How to opt out of essential cookies</u>
</h1>
<h1>
    Most browsers allow you to block all cookies, including essential cookies.
    Please note, however, that if you block all cookies, parts of our website
    and its functionality may not work or display properly.
</h1>
<h1>
    You can delete existing cookies from your browser by clearing your browsing
    data and ensuring that the option to delete cookies is selected.
</h1>
<h1>
    For more detailed information on how to accept and reject cookies,
    including guidance for specific browsers, please see the section below
    entitled <u>How to accept or reject cookies</u>
</h1>
<h1 id="nonessential">
    <strong>Non-essential cookies</strong>
</h1>
<p>
    We use the following types of non-essential cookies on our website:
</p>
<ul>
    <li>
        <strong>Functional cookies</strong>
    </li>
    <li>
        <strong>Analytical (or performance) cookies</strong>
    </li>
    <li>
        <strong>Targeting (or advertising) cookies</strong>
    </li>
</ul>
<p>
    <strong></strong>
</p>
<h1>
    <strong>Functional cookies</strong>
</h1>
<p>
    These are cookies that are designed for purposes such as enhancing a
    website’s functionality. These are either not strictly essential for the
    website or functionality which you have requested to work or are cookies
    which serve non-essential purposes in addition to their essential purpose.
</p>
<p>
    <u>How to opt in or out from functional cookies</u>
</p>
<p>
    See the section below entitled <u>How to accept or reject cookies</u>
</p>
<p>
    <u>
        Processing information about you contained in or obtained from
        functional cookies
    </u>
</p>
<h1>
    <strong>Legal basis for processing</strong>
    : we process information about you contained in or obtained from functional
    cookies in our legitimate interests (Article 6(1)(f) of the General Data
    Protection Regulation). We will only process such personal information if
    you have consented to us placing cookies on your computer or device.
</h1>
<h1>
    <strong>Legitimate interests</strong>
    : improving your website experience and providing or enhancing the website
    functionality you have requested.
</h1>
<h1>
    <strong>Analytical (or performance) cookies</strong>
</h1>
<p>
    Analytical (or performance) cookies track and gather data about what a user
    does on a website. These cookies are not essential for our website or its
    functionality to work. We use the following analytical cookies on our
    website:
</p>
<p>
    - first party session cookies to remember your input when you fill in an
    online form over several pages on our website. These cookies are:
    “catAccCookies”.
</p>
<p>
    - first party session cookies to recognise whether you have accepted the
    use of cookies
    <br/>
    on our website. These cookies are: “catAccCookies”. These cookies expire
    after 30 days.
</p>
<p>
    We also use Google Analytics cookies on our website. Google Analytics
    cookies help us understand how you engage and interact with our website,
    including how you came to our website, which pages you visited, for how
    long and what you clicked on and your location (based on your IP address).
</p>
<p>
    The Google Analytics cookies used on our website are: “_ga”, “_gat” and
    “_gid”. These cookies are session cookies.
</p>
<p>
    <u>More information</u>
</p>
<p>
    Google Analytics cookies are classified as first party cookies as they are
    set by our website domain, although Google collects and processes
    information from our use of Google Analytics. To find out more about how
    Google handles information collected from Google Analytics, see Google
    Analytics’ privacy policy, which is available here:
    <a href="https://support.google.com/analytics/answer/6004245">
        https://support.google.com/analytics/answer/6004245
    </a>
</p>
<p>
    For information on how Google uses data from cookies it uses, please visit
    <a href="https://www.google.com/policies/privacy/partners/" target="_blank">
        www.google.com/policies/privacy/partners/
    </a>
</p>
<p>
    <u></u>
</p>
<p>
    <u>How to opt in or out from analytical cookies</u>
</p>
<p>
    See the section below entitled <u>How to accept or reject cookies</u>
</p>
<p>
    To opt out of Google Analytics tracking across all websites in general, you
    can do so here:
    <a href="http://tools.google.com/dlpage/gaoptout">
        http://tools.google.com/dlpage/gaoptout
    </a>
</p>
<p>
    <u>
        Processing information about you contained in or obtained from
        analytical cookies
    </u>
</p>
<p>
    <strong>Legal basis for processing</strong>
    : we process information about you contained in or obtained from analytical
    cookies in our legitimate interests (Article 6(1)(f) of the General Data
    Protection Regulation).
    <br/>
    <strong>Legitimate interests</strong>
    : analysing how individuals use our website to help us improve our website
    and business. For further information on how we use the information
    gathered from our use of analytical cookies, including profiling, please
see the section entitled    <u>Our use of automated decision making and profiling</u> in our privacy
policy, which is available here: <a href="https://institute.fintechcircle.com/privacy">https://institute.fintechcircle.com/privacy</a>  <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<h1>
    <strong>Other technologies</strong>
</h1>
<p id="beacons">
    <strong>Web beacons</strong>
</p>
<p>
    We and any marketing companies we use such as Mailchimp also embed web
    beacons in our marketing emails and/or on our website. Web beacons are
    small GIF image files which enable us to track your receipt of our
    marketing emails, how often you view our adverts or website pages, your
    location, IP address and browser information. Web beacons are activated
    whenever you open a marketing email or access a page on our website which
    contains a web beacon. Web beacons transmit data when you view them but are
    not capable of accessing any other information on your computer. Web
    beacons are not stored on your hard drive unless you download a GIF image
    containing them.
</p>
<p>
    Some (but not all) browsers enable you to restrict the use of web beacons
    by either preventing them from sending information back to their source
    (for example, when you choose browser settings that block cookies and
    trackers), or by not accessing the images containing them (for example, if
    you select a ‘do not display images (in emails)’ setting in your email
    server).
</p>
<p>
    <u>How to opt in or out</u>
</p>
<p>
    See the section below entitled <u>How to accept or reject cookies</u>
</p>
<p>
    <strong>Legal basis for processing: </strong>
    we process the information we gather from the use of web beacons in our
    legitimate interests (Article 6(1)(f) of the General Data Protection
    Regulation).<strong></strong>
</p>
<p>
    <strong>Legitimate interest:</strong>
    We analyse the effectiveness of our email marketing campaigns and the
    content provided on our website in addition to email marketing. For further
    information on how we use the information gathered from our use of web
beacons, please see our privacy policy, which is available here: <a href="https://institute.fintechcircle.com/privacy">https://institute.fintechcircle.com/privacy</a>
</p>
<h1>
    <strong>How to accept or reject cookies</strong>
</h1>
<p>
    There are a number of different ways in which you can accept or reject some
    or all cookies and similar technologies. Some of the main methods of doing
    so are described below:
</p>
<p>
    You are welcome to block the use of some or all of the cookies we use on
    our website. However, please be aware that doing so may impair our website
    and its functionality or may even render some or all of it unusable.
</p>
<p>
    You should also be aware that clearing all cookies from your browser will
    also delete any cookies that are storing your preferences, for example,
    whether you have accepted cookies on a website or any cookies that are
    blocking other cookies.
</p>
<p>
    You can find more detailed information about cookies and adjusting your
browser settings by visiting <a href="http://www.allaboutcookies.org">www.allaboutcookies.org</a>
</p>
<p>
    <strong>Civicuk Cookie Control</strong>
</p>
<p>
    You can accept or reject non-essential cookies by using our cookie
    management tool. To do this, simply opt-out of the cookie policy by
    clicking on the cog icon in the bottom-left of the screen and selecting
    “opt out”.
</p>
<p>
    <u>Browser settings</u>
</p>
<p>
    You can accept or reject some or all cookies (for example, blocking all
    third party cookies) by adjusting your browser settings. If you do not know
    how to do this, the links below set out information about how to change
    your browser settings for some of the most commonly used web browsers:
</p>
<p>
    - Google Chrome:
    <a href="https://support.google.com/chrome/answer/95647?hl=en-GB">
        https://support.google.com/chrome/answer/95647?hl=en-GB
    </a>
</p>
<p>
    - Mozilla Firefox:
    <a
        href="https://support.mozilla.org/en-US/kb/delete-browsing-search-download-history-firefox?redirectlocale=en-US&amp;redirectslug=Clear+Recent+History"
    >
        https://support.mozilla.org/en-US/kb/delete-browsing-search-download-history-firefox?redirectlocale=en-US&amp;redirectslug=Clear+Recent+History
    </a>
</p>
<p>
    - Microsoft Internet Explorer:
    <a
        href="https://support.microsoft.com/en-us/help/278835/how-to-delete-cookie-files-in-internet-explorer"
    >
        https://support.microsoft.com/en-us/help/278835/how-to-delete-cookie-files-in-internet-explorer
    </a>
</p>
<p>
    - Apple Safari:
    <a href="https://support.apple.com/kb/PH5042?locale=en_US">
        https://support.apple.com/kb/PH5042?locale=en_US
    </a>
</p>
<p>
    Some browsers, such as Chrome and Firefox, allow you to change your
    settings to browse in ‘incognito’ mode, limiting the amount of data placed
    on your machine and automatically deleting any persistent cookies placed on
    your device when you finish your browsing session. There are also many
    third party applications which you can add to your browser to block or
    manage cookies.
</p>
<p>
    <em>Existing cookies</em>
</p>
<p>
    To clear cookies that have previously been placed on your browser, you
    should select the option to clear your browsing history and ensure that the
    option to delete or clear cookies is included when you do so.
</p>
<p>
    <u>Google Adsettings</u>
</p>
<p>
    You can manage and opt out of personalisation of advertisements by Google
    by visiting Google’s ad settings page here
    <a href="https://adssettings.google.com/">
        https://adssettings.google.com/
    </a>
    and by:
</p>
<p>
    - unticking the button entitled ‘Also use Google Account activity and
    information to personalize ads on these websites and apps and store that
    data in your Google Account’; and
</p>
<p>
    - switching the ‘Ads Personalisation’ setting off (i.e. by ensuring the
    switch at the top of the page is set to the left/grey and not the
    right/blue).
</p>
<p>
    Alternatively, you can install a free browser plugin here:
    <a href="https://support.google.com/ads/answer/7395996">
        https://support.google.com/ads/answer/7395996
    </a>
</p>
<p>
    <u>Google Analytics Opt-out Browser Add-on</u>
</p>
<p>
    You can opt out of Google Analytics tracking by installing the browser
    add-on which is available here:
    <a href="http://tools.google.com/dlpage/gaoptout">
        http://tools.google.com/dlpage/gaoptout
    </a>
</p>
<p>
    <strong>Web beacons</strong>
</p>
<p>
    You can opt in to us using web beacons in our marketing emails by clicking
    the appropriate box when you subscribe to our newsletter.<em></em>
</p>
<p>
    You can opt out of our use of web beacons in our marketing emails by
    emailing <a href="mailto:info@fintechcircle.com">info@fintechcircle.com</a>
    to explain that you would like to withdraw your consent to the use of web
    beacons in our marketing emails.
</p>
<p>
    <u>Disconnect for Facebook</u>
</p>
<p>
    You can install a browser add-on tool called ‘Disconnect Facebook pixel and
    FB tracking’. This will stop Facebook tracking you on third party websites.
    You can install the too here:
</p>
<ul>
    <li>
        For Chrome:
        <a
            href="https://chrome.google.com/webstore/detail/disconnect-facebook-pixel/nnkndeagapifodhlebifbgbonbfmlnfm?hl=en"
        >
            https://chrome.google.com/webstore/detail/disconnect-facebook-pixel/nnkndeagapifodhlebifbgbonbfmlnfm?hl=en
        </a>
    </li>
    <li>
        For Firefox:
        <a
            href="https://addons.mozilla.org/en-GB/firefox/addon/facebook-disconnect/"
        >
            https://addons.mozilla.org/en-GB/firefox/addon/facebook-disconnect/
        </a>
    </li>
</ul>
<p>
    <u></u>
</p>
<p>
    <u>European Interactive Digital Advertising Alliance Tool</u>
</p>
<p>
    You can opt out of Facebook and other companies that participate in the
    Digital Advertising Alliance in Europe from showing you interest based ads
    by visiting http://www.youronlinechoices.com, selecting your country,
    clicking ‘Your Ad Choices’, then locating Facebook (and any other companies
    you want to block) and selecting the ‘Off’ option.
</p>
<h1>
    <strong>Copyright, credit and logo</strong>
</h1>
<p>
    This Cookies Policy is based on a template provided by GDPR Privacy Policy.
For further information, please visit    <a href="https://gdprprivacypolicy.org">https://gdprprivacypolicy.org</a>
</p>
<p>
    The copyright in this Cookies Policy is either owned by, or licensed to, us
    and is protected by copyright laws around the world and copyright
    protection software. All intellectual property rights in this document are
    reserved. Where we display the GDPR Privacy Policy logo on our website,
    this is used to indicate that we have adopted a privacy policy template
    provided by GDPR Privacy Policy as the basis for this Privacy Policy.
</p>
        <p>
            This page was last updated on 9 May 2018.
        </p>
    </section>
</main>
