<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("FAQ")}</h1>
        <p><strong>Help for Lecturer Home</strong></p>
        <p><a href="http://edx.readthedocs.io/projects/open-edx-building-and-running-a-course/en/latest/getting_started/CA_get_started_Studio.html#id3"><strong>What Is the Lecturer Centre?</strong></a></p>
        <p>This is the tool you use to build your courses. You use the FINTECH Circle Lecturer Centre to create a course structure, and then add videos, and other resources for learners. You can publish your course here.</p>
        <p>You use the Centre directly through your browser. You do not need any additional software.</p>
        <p>&nbsp;</p>
        <p><strong><u>How can I set up my Course?</u></strong></p>
        <p>To set up your course in the most efficient way, please first upload your individual videos to you tube and your course image on your PC/laptop.</p>
        <p>Please follow 5 easy steps which will take you not more than 15-20 minutes:</p>
        <p><strong>Step 1: Press the Button to &ldquo;Create a new Course</strong>&rdquo;, then type in your Course Name (for example: FinTech_Overview_2017, note no spaces are allowed) and add your Surname. Your Course Name and Surname will create a unique URL for your Course.</p>
        <p><strong>Step 2: Please go to Settings/Details</strong> (menu point on the top) and complete the following sections:</p>
        <ul>
        <li><u>Course tags</u> ie fintech wealthtech insurtech regtech AI blockchain startups etc (please keep a space between tags, we recommend to use up to 3 tags for your course)</li>
        <li><u>Course description</u> &ndash; please replace the dummy text with your own Course Description, your details as lecturer and if you like FAQs or any additional information you would like to provide about your course</li>
        <li><u>Course Image</u> &ndash; please upload an attractive course image which should draw people to your course</li>
        <li>Type in the length of your course ie 00:50 (for 50 minutes)</li>
        </ul>
        <p><strong>Step 3: Please go to Content &gt; Outline</strong> and set up sections for each video, for example:</p>
        <ul>
        <li>Introduction to Fintech (Section). Create a Subsection called Video 1 and upload as new Unit your 1<sup>st</sup> video (by linking it from the YouTube location).</li>
        <li>Fintech startups (Section). Create a Subsection called Video 2 and upload as new Unit your 2<sup>nd</sup> video (by linking it from the YouTube location).</li>
        <li>Fintech investors (Section). Create a Subsection called Video 3 and upload as new Unit your 3rd video (by linking it from the YouTube location).</li>
        <li>Case studies of Enterprise Innovation (Section). Create a Subsection called Video 4 and upload as new Unit your 4th video (by linking it from the YouTube location).</li>
        <li>Conclusion (Section). Create a Subsection called Video 5 and upload as new Unit your final video (by linking it from the YouTube location).</li>
        <li>After you have created your course, please publish all modules.</li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>Step 4: Go to Content &gt; Updates</strong></p>
        <ul>
        <li>Add one sentence if you like to recommend any course handouts ie books to read.</li>
        <li>Add a new update with a &ldquo;welcome message&rdquo;, for example: <br /> &ldquo;Welcome to the FINTECH Overview Course! We will provide you with the latest trends and overview on fintech stakeholders globally.&rdquo;</li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>Step 5: Go to Content &gt; Uploads</strong></p>
        <ul>
        <li>Upload up to 3 Research Reports or Whitepapers which you recommend as background materials for your students to read.</li>
        <li>If they are very long we would recommend to upload each chapter, but for normal documents you can upload the whole document in one piece.</li>
        </ul>
        <p>Please always safe your updates. Then view your course. You can always make changes to it when you find errors later in real-time.</p>
        <p>If you have more questions, please do not hesitate to contact <a href="mailto:help@fintechcircle.com">help@fintechcircle.com</a></p>
        <p>&nbsp;</p>
    </section>
</main>
