<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("In the Press")}</%block>

<%block name="bodyclass">view-press</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container-bs press ms-press">
        <p align="center">
            <strong>
                94% of people in financial services suspect colleagues are bluffing
                about their FinTech knowledge
            </strong>
        </p>
        <p align="center">
            <strong>
                Experts from HSBC, Barclays and leading universities to form board of
                new peer-to-peer training platform for digital finance
            </strong>
        </p>
        <p align="center">
            <strong> </strong>
        </p>
        <p>
            <strong>London, Friday 15 September 2017 </strong>
            <strong>– </strong>
            A new study finds that so-called “FinTech experts” may not be as
            knowledgeable as they claim. The research from online training platform,
            FINTECH Circle Institute uncovered that 94% of financial services
            professionals suspect their colleagues of using buzzwords such as
            “Blockchain” and “Artificial Intelligence” without understanding their
            meaning. Over half (60%) claim that such bluffing is a common occurrence.
        </p>
        <p>
            The industry professionals questioned felt that lack of training within
            financial services organisations was the biggest factor preventing some
            employees from developing their digital and FinTech skills, with 69% making
            this claim. Meanwhile, 22% say financial services professionals are putting
            off developing their digital skills out of fear that it’s too late to catch
            up with existing FinTech experts.
        </p>
        <p>
            This is despite the vast majority of financial services professionals
            believing that promotions should favour the most tech-savvy employees,
            meaning traditional financial services experts could be at risk of falling
            behind their digital-friendly colleagues. Of the 1,400 people questioned,
            84% claimed that colleagues with advanced digital and FinTech skills, but
            half the years of experience, are more deserving of promotion than a
            colleague who has been in the industry for at least ten years.
        </p>
        <p>
            <strong>
                Susanne Chishti, CEO and founder of the FINTECH Circle Institute
                commented:
            </strong>
            “It’s worrying to think that financial services professionals believe it’s
            too late to build their digital and FinTech skills, while others are
            bluffing their skillset... As the study shows, in today’s financial
            services industry, there is a direct link between genuine digital knowledge
            and promotion prospects. We’ve developed the FINTECH Circle Institute to
            empower financial professionals with practical FinTech knowledge.”
        </p>
        <p>
            Launching today, the FINTECH Circle Institute is a peer-to-peer online
            learning platform, designed to empower finance professionals with the
            necessary digital skills to adapt to the rapidly changing industry. With
            board members ranging from traditional banks and FinTech experts, through
            to academics from leading universities, the platform will offer a
            combination of practical bitesize courses on topics including Blockchain,
            RegTech and Robo-banking. Financial professionals and aspiring digital
            finance experts are invited to sign up here to take advantage of the launch
            offer (Save 50% - Get a 4 years membership for the prize of 2 years for
            only £500).
        </p>
        <p align="center">
            -Ends-
        </p>
        <p>
            Notes to Editors
        </p>
        <p>
            <strong>Full list of FINTECH Circle Institute board members: </strong>
        </p>

        <ul>
            <li>
                Kaushalya Somasundaram, Head of FinTech Partnerships and Strategy, HSBC
            </li>
            <li>
                Michael Harte, Global Head of Innovation, Barclays
            </li>
            <li>
                Chris Coleridge, Senior Faculty in Management Practice at Cambridge Judge
                Business School (University of Cambridge)
            </li>
            <li>
                Ben Brabyn Chief Executive, Level39
            </li>
            <li>
                Pascal Bouvier, CFA, Venture Partner at Santander InnoVentures & Linkedin Top Voice (Money & Finance)
            </li>
            <li>
                Todd McDonald, Co-Founder and Head of Ecosystem Development, R3 
            </li>
            <li>
                David Craig, President, Financial and Risk, Thomson Reuters    <strong></strong>
            </li>
            <li>
                Olof Pripp, Vice Chairman, Board and CEO Services, Korn Ferry, EMEA    <strong></strong>
            </li>
            <li>
                Joy MacKnight, Deputy Editor, The Banker<strong></strong>
            </li>
            <li>
                Prof. Philip Treleaven, Professor and Director of UK Financial Computing
                Centre, University College London <strong></strong>
            </li>
            <li>
                Markos Zachariadis, Assistant Professor at Warwick Business School and
                Research Fellow at the University of Cambridge
            </li>
        </ul>

        <p>
            <em><strong>Kaushalya Somasundaram, </strong></em>
            <strong>head of </strong>
            <em><strong>fintech</strong></em>
            <strong> partnerships and strategy, <em>HSBC commented: “</em></strong>
            FinTech knowledge is not a “nice to have”, but an essential asset for
            anyone working in financial services. I’m excited to collaborate with other
            banking, FinTech and academic experts, to build a platform that will enable
            individuals to boost their career prospects, while bringing real value to
            enterprises and ultimately fuelling innovation across the entire industry.”
        </p>
        <p>
            <strong>
                Markos Zachariadis, Assistant Professor at Warwick Business School and
                Research Fellow at the University of Cambridge added:
            </strong>
            “Continuous self-improvement and upskilling is crucial both for an
            individual’s own prospects but also for the benefit of their organisation
            and the wider industry. In an era where financial services are undergoing
            major digital transformation it is even more crucial to not only keep up
            to-date with current FinTech trends but also understand how technology can
            be used strategically to transform the entire sector. Being able to access
            a platform where you can find bitesize courses taught by peers and other
            experts from academia and the industry is invaluable.”
        </p>
        <p>
            <strong>
                David Craig, President, Financial and Risk, Thomson Reuters said:
            </strong>
            “The financial industry needs to be able to move fast to meet its customers’
            increasing expectations of outstanding service, as established names in
            technology are challenging the status quo. This platform is a fantastic
            resource to help the next generation of financial services professionals
            become the leaders of the future. Financial services has always moved at a
            fast pace, but the combination of exciting new technologies, cost pressures
            on banks and higher consumer driven customer expectations mean the pace of
            change has accelerated dramatically. Understanding the latest technology is
            important for professionals to stay relevant. More important still is
            understanding how technology can be applied to solve real problems and
            transform the way we work for the better, through collaboration and
            co-innovation."
        </p>
        <div>
            <p>
                <strong> </strong>
            </p>
        </div>
        <p>
            <strong>About FINTECH Circle</strong>
        </p>
        <p>
        FINTECH Circle (    <a href="http://www.fintechcircle.com/">www.FINTECHCircle.com</a>) is a
            global community of 75,000 fintech entrepreneurs, angel and VC investors,
            financial services professionals and fintech thought-leaders, focusing on
            FinTech seed investing, education and enterprise innovation. FINTECH
            Circle’s CEO, Susanne Chishti, co-edited The FINTECH Book published by
            WILEY which became the 1<sup>st</sup> globally crowd-sourced book on
            financial technology and a global bestseller across 107 countries in 4
            languages.
        </p>
        <p>
            <strong>About FINTECH Circle Institute</strong>
        </p>
        <p>
            The FINTECH Circle Institute is a peer-to-peer online learning platform,
            designed to empower finance professionals with the necessary digital skills
            to adapt to the rapidly changing industry. With board members ranging from
            traditional banks and FinTech experts, through to academics from leading
            universities, the platform will offer practical bitesize courses on topics
            including WealthTECH/Robo-banking, InsurTECH, RegTECH, Blockchain,
            Artificial Intelligence, Enterprise Innovation and Startups. Every month
            new bite-size classes will be released online to ensure that members will
            have access to the latest FinTech insights and industry experts working on
            the most cutting-edge fintech innovations globally.
        </p>
        <p>
            Yearly membership starts at £250/year and provides unlimited access to all
            online classes. As a launch offer, the FINTECH Circle Institute provides a
            50% discount for a four year membership for the prize of £500. The offer is
            only available for the first 1,000 members who subscribe online on
        </p>
        <p>
            <a href="http://www.fintechcircleinstitute.com/members">
                www.FINTECHCircleInstitute.com/members
            </a>
        </p>
        <p>
            <a href="http://www.fintechcircleinstitute.com/">
                www.FINTECHCircleInstitute.com
            </a>
        </p>
        <p>
            Twitter: <a target="_blank" href="https://twitter.com/FTC_Institute">@FTC_Institute</a>
        </p>

    </section>
</main>
