<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<%block name="bodyclass">view-privacy</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>The FINTECH Circle Institute Privacy Policy</h1>
        <br>
        <p>
            <strong>Welcome to the FINTECH Circle Institute!</strong>
        </p>
        <p>
            We respect your right to privacy. This Privacy Policy sets out details of
            the information that we may collect from you and how we may use that
            information. This Privacy Policy should be read alongside, and in addition
            to the Terms.
        </p>
        <p>
            Please read this Privacy Policy carefully – by using the Website and the
            Online Courses and Content (whether as a Visitor, a Learner or Course
            Provider/Lecturer), you agree to its terms (including as amended from time
            to time). If, for any reason, you do not agree to the terms of this Privacy
            Policy, please stop using the Website and the Online Courses and Content
            immediately.
        </p>
        <p>
            Unless otherwise defined in this Privacy Policy, terms used have the same
            meaning as in the Terms.
        </p>
        <p>
            <strong>1 About Us</strong>
        </p>
        <p>
            1.1 In this Privacy Policy, references to “we” or “us” are to the FINTECH
            Circle Institute, the educational division of FINTECH Circle Ltd, a company
        incorporated in England and Wales (registered number    <strong>09141483</strong>) whose registered address is at 39 Hendon Lane,
            London, England, N3 1RY.
        </p>
        <p>
            1.2 In these Terms, references to “you” or “your” are references to you
            whether as a Learner, a Course Provider/Lecturer or Visitor.
        </p>
        <p>
            1.3 If you have any questions about how we collect, store and use your
            information, please click on “contact us”.
        </p>
        <p>
            <strong>2 Use of the Website and Online Courses and Content</strong>
        </p>
        <p>
            This Privacy Policy applies only to your use of the Website and Online
            Courses and Content. We are not responsible for any information gathered by
            Course Providers who provide the Online Courses and Content or other
            linking sites found on the Website and you should consult those other
            parties’ privacy policies as appropriate and applicable.
        </p>
        <p>
            <strong>3 Legal Notice</strong>
        </p>
        <p>
            We will at all times only collect and process your personal information in
            accordance with the Data Protection Act 1998, the Privacy and Electronic
            Communications (EC Directive) Regulations 2003 and any other applicable
            data protection legislation.
        </p>
        <p>
            <strong>4 Collection of Information</strong>
        </p>
        <p>
            4.1 When you access the Website via any means, use the Online Courses and
            Content, register or post notes, assignments or other material, respond to
            or participate in any survey or questionnaire sent to you by us, or provide
            comments via the feedback tab, we may collect, store and use certain
            personal information that you voluntarily disclose to us. We may also ask
            you for information when you report a problem with the Website or the
            Online Courses and Content.
        </p>
        <p>
            4.2 When registering we ask for your name and email address. As part of
            your Learner profile you may also provide your location, gender and any
            educational history or qualifications, plus other information that will
            help other learners get to know you and help us to tailor the service to
            suit you. We will also store the results of your assessments (if
            applicable) relating to Online Courses and Content. When you purchase a
            paid service, we will also collect your credit card or other payment
            details. If you contact us, we may also keep a record of that
            correspondence.
        </p>
        <p>
            4.3 We may also collect data relating to your visits to the Website that
            cannot identify you but records your use of our Website and Online Courses
            and Content including, for example, details of how long you have used the
            Website and the Online Courses and Content for.
        </p>
        <p>
            4.4 We may also collect your computer’s IP address in order to help us
            tailor the service to your location.
        </p>
        <p>
            4.5 If you elect to verify your identity through our Website, we will
            receive, process and store your personal information.
        </p>
        <p>
            4.6 Finally, we may receive information about you from third parties (such
            as credit reference agencies) who are legally entitled to disclose that
            information.
        </p>
        <p>
            <strong>5 Use of Your Information</strong>
        </p>
        <p>
            5.1 By accessing the Website via any means, use the Online Courses and
            Content, registering or posting notes, assignments or other material, or
            providing comments via the feedback tab, you agree that your personal
            information may be collected, stored, used and shared by us and/or our
            partners, and course and content providers chosen by us for any of the
            following purposes:
        </p>
        <p>
            (a) to provide, maintain, protect and improve the quality of the Website
            and the Online Courses and Content we offer, including by conducting
            anonymised market research, and to protect us and our users;
        </p>
        <p>
            (b) to provide you with a personalised browsing experience when using the
            Website;
        </p>
        <p>
            (c) to fulfil any contractual agreements between you and us (for example,
            when you register as a Learner in relation to the Online Courses and
            Content);
        </p>
        <p>
            (d) to send you details of other products and services which we think may
            interest you including via relevant social media channels, unless you opt
            out via your personal settings;
        </p>
        <p>
            (e) to sell sponsorship on the Website;
        </p>
        <p>
            (f) to manage your Learner account that you hold with us;
        </p>
        <p>
            (g) to allow you to use some features of our Website or Online Courses and
            Content ;
        </p>
        <p>
            (h) to send you email notifications and updates about the Website or Online
            Courses and Content you are enrolled on; and
        </p>
        <p>
            (i) to comply with legal and regulatory requirements.
        </p>
        <p>
            (j) to contact you occasionally in order to invite you to share your
            opinions and experiences of FINTECH Circle Institute with us.
        </p>
        <p>
            (k) to share your information with third parties where necessary in order
            to provide services that you have requested including, for example,
            confirmation of the Courses you have participated in and/or the award you
            have achieved as a result (if applicable) for accreditation or CPD
            purposes, or otherwise.
        </p>
        <p>
            5.2 We may use your email address to send you course notices and updates
            about our services.
        </p>
        <p>
            5.3 If you object to your information being collected and used as outlined
            in this Privacy Policy please cease using the Website immediately.
        </p>
        <p>
            <strong>6 Storage of Information</strong>
        </p>
        <p>
            6.1 All information is stored on our secure servers. When you register, we
            will ask you to choose a password which enables you to access the Online
            Courses and Content. You are responsible for keeping this password
            confidential. We ask you not to share this password with anyone.
        </p>
        <p>
            6.2 In addition, we (or third parties acting on our behalf) may also store
            or process information that we collect about you in countries outside the
            European Economic Area, which may have lower standards of data protection.
            However, whilst we have used our best efforts to ensure the security of
            your data, please be aware that we cannot guarantee the security of
            information transmitted over the Internet.
        </p>
        <p>
            <strong>7 Disclosure of Your Information</strong>
        </p>
        <p>
            7.1 We may disclose your personal information to third parties:
        </p>
        <p>
            (a) with your consent;
        </p>
        <p>
            (b) if we sell or buy any business or assets, in which case we may disclose
            your information to the prospective seller or buyer of such business or
            assets, provided that they continue to use your information substantially
            in accordance with the terms of this Privacy Policy;
        </p>
        <p>
            (c) if all, or substantially all of our assets, are acquired by a third
            party provided that they continue to use your information substantially in
            accordance with the terms of this Privacy Policy, in which case information
            held by us will be one of the transferred assets; and
        </p>
        <p>
            (d) if we are under a duty to disclose or share your information in order
            to comply with any legal obligation, or in order to enforce or apply our
            Terms and other agreements; or to protect our rights, property, or safety,
            our users, or others. This includes exchanging information with other
            companies and organisations for the purposes of fraud protection and credit
            risk reduction.
        </p>
        <p>
            7.2 When you register as a Learner for a particular Online Course or
            Content, you agree that your personal data may be shared with the Course
            Provider providing such Online Courses or Content.
        </p>
        <p>
            7.3 When you place an order through us for products or services to be
            fulfilled by third parties in connection with a Course (such as externally
            administered assessments) any information you provide to us in connection
            with your order may be shared with the third party provider, for the
            purpose of processing and fulfilling your order.
        </p>
        <p>
            <strong>8 Your Rights</strong>
        </p>
        <p>
            8.1 You have the right to contact us in order to find out what information
            we hold about you (please note that a £10 fee will be payable) or to
            access, cancel or correct any information that we hold about you.
        </p>
        <p>
            8.2 You can edit your personal details via your profile page whenever you
            wish. We maintain a procedure in order to help you confirm that your
            personal information remains correct and up-to-date or choose whether or
            not you wish to receive material from us or some of our partners.
        </p>
        <p>
            8.3 You may unsubscribe from certain email communications by following the
            Unsubscribe link in the email communication itself. You may also update
            your personal information by logging into the Website and visiting your
            Learner account page. You may also email us at learn@FINTECHCircle.com in
            order to delete or update your personal information on our systems. We try
            to answer every email promptly, but may not always be able to do so. Please
            keep in mind, however, that there will be residual information that will
            remain within our databases, access logs and other records, which may or
            may not contain your personal information.
        </p>
        <p>
            8.4 If you have any privacy-related questions or unresolved problems, you
            may contact us using the information provided at paragraph 12 below.
        </p>
        <p>
            8.5 The Website may, from time to time, contain links to and from the
            websites of third parties. If you follow a link to any of these websites,
            please note that these websites have their own privacy policies and that we
            do not accept responsibility or liability of any of these policies. Please
            check these policies before you submit any personal information to these
            websites.
        </p>
        <p>
            <strong>9 Children</strong>
        </p>
        <p>
            We strongly believe in protecting the privacy of children. In line with
            this belief, we do not knowingly collect or maintain personal information
            from persons under 13 years of age, and no part of the Website is directed
            to persons under 13 years of age. If you are under 13 years of age, then
            please do not use or access the Website at any time or in any manner. We
            will take appropriate steps to delete any personal information of persons
            less than 13 years of age that has been collected on the Website without
            verified parental consent upon learning of the existence of such personal
            information.
        </p>
        <p>
            <strong>10 Cookies Policy</strong>
        </p>
        <p>
            10.1 The Website uses cookies. Cookies are small files stored on your
            computer’s hard drive which are used to collect your personal information.
            You may choose to refuse cookies but, if you do so, some of the
            functionality of the Website or Online Courses may no longer be available
            to you.
        </p>
        <p>
            10.2 We use cookies to enhance your experience of the FINTECH Circle
            Institute and to better understand how people use the Website. This may
            also include cookies from third party social media websites. By visiting
            the Website without changing your settings, we’ll assume that you are happy
            to receive all cookies, but you can change your cookies settings at any
            time by following the instructions below.
        </p>
        <p>
            10.3 Types of Cookies
        </p>
        <p>
            10.3.1. The cookies described below are used to improve the Website and do
            not contain any personal information that would allow us to identify you
            (such as your name or other contact details), although the cookies do allow
            us to distinguish you from other users of the Website, identify repeat
            visitors, the type of content and sites to which a Visitor or Learner
            links, the length of time each Visitor and Learner spends at any particular
            area of the Website and the specific functionalities that Visitors and
            Learners choose to use. This helps us to provide you with a good experience
            when your browse the Website and helps us to improve the Online Courses.
        </p>
        <p>
            10.3.2. There are four types of cookies that may be used during your visit
            to the Website;
        </p>
        <p>
            (a) Session cookies, which are stored only temporarily during a browsing
            session and are deleted from your device when the browser is closed;
        </p>
        <p>
            (b) Persistent cookies,<strong> </strong>which are saved on your computer
            for a fixed period (usually one year or more) and are not deleted when the
            browser is closed. These help us remember you as a Visitor or Learner each
            time you use the same computer to visit the Website<strong>;</strong>
        </p>
        <p>
            (c) First party cookies,<strong> </strong>which are set by the Website and
            can only be read by the Website<strong>; </strong>and
        </p>
        <p>
            (d) Third party cookies,<strong> </strong>which are set by a different
            organisation than us, such as a third party analytics company, who sets its
            own cookies to perform this service<strong>.</strong>
        </p>
        <p>
            10.4 The Website may display video content using Adobe Flash Player. Adobe
            uses Flash cookies (also known as Local Shared Objects) to help improve
            your experience as a Visitor or Learner and save your preferences. Flash
            cookies are stored on your device in much the same way as usual cookies,
            but your browser manages them differently. If you wish to disable or delete
            a Flash cookie, see Adobe Flashplayer Security Settings. Please bear in
            mind, though, that if you disable Flash cookies for the Website you may be
            unable to access certain elements of the Website and Online Courses and
            Content.
        </p>
        <p>
            10.5 Our Partner Institutions may also use cookies over which we have no
            control. For further information on how our Partner Institutions use
            cookies please refer to the cookies policies on their respective websites.
        </p>
        <p>
            10.6 Third-party advertisers on the Website may use cookies, beacons and
            other technologies to collect or receive information from the
            FINTECHCircleInstitute.com and elsewhere on the internet to provide
            measurement services and target advertising. We have no control over
            cookies placed on the Website by third parties and you should check the
            relevant third party’s website for more information.
        </p>
        <p>
            10.7 How To Disable Cookies
        </p>
        <p>
            10.7.1 You have the right to accept or stop cookies from being stored on
            your device at any time by modifying the settings in your web browser to
            reflect your cookie preferences. Please refer to your browser instructions
            or the “Help” function within your browser to show you how. Alternatively,
            you may wish to use an online tool to help you opt out of the collection
            and use of information by visiting
            <a href="http://www.aboutads.info/choices/">
                http://www.aboutads.info/choices/
            </a>
            .
        </p>
        <p>
            Please note that you may not be able to use all the interactive features of
            the Website and/or Online Courses and Content if cookies are disabled.
        </p>
        <p>
            10.7.2 To opt out of being tracked by Google Analytics across all websites
            visit
            <a href="http://tools.google.com/dlpage/gaoptout">
                http://tools.google.com/dlpage/gaoptout
            </a>
        </p>
        <p>
            <strong>11 Updating this Privacy Policy</strong>
        </p>
        <p>
            We may update or amend this Privacy Policy from time to time, to comply
            with law or to meet our changing business requirements, without notice to
            you. Any updates or amendments will be posted on the Website. By continuing
            to access the Website, using the Online Courses and Content or providing
            content in connection with the Online Courses and Content, you agree to be
            bound by the terms of these updates and amendments.
        </p>
        <p>
            <strong>12 Contacting the FINTECH Circle Institute</strong>
        </p>
        <p>
            If you have any questions, comments or complaints about this Privacy
            Policy, please contact us using the address details provided in 1.1.
        </p>
        <p>
            This page was last updated on 1 Sept 2017.
        </p>
    </section>
</main>
