body.view-about { 
     
    header.header-global {
        position: relative !important;
    }

    div#carousel-example-generic,
    .section-quote, 
    .section-info, 
    .section-newsletter {
        display: none !important;
    }

    section.ms-about {
        max-width: 720px;
    }
}