
.ms-categories.container.categories {
    border: none;

    header.wrapper-header-categories {
        font-family: 'Open Sans';
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.1px;
        text-align: center;
        color: #4a4a4a;
    }

    .category-tabs {
        margin-left: 0;

        li.category-tab {
            border-bottom: 1px solid;
            border-bottom-color: #ffffff;
            margin-right: 5px;
            margin-left: 5px;
            position: relative;

            &.active {
                top: 1px;
            }

            a {
                margin-right: 0;
            }

            &.active {
                box-shadow: 7px 0 15px -4px rgb(216, 216, 216), -7px 0 8px -4px rgba(216, 216, 216, 0.8);
            }

            &.first-tab {
                margin-left: 80px;
            }

            &.last-tab {
                margin-right: 15px;
            }
        }


    }

    

}

