body.view-in-course { 
     
    header.header-global {
        position: relative !important;
    }

    div#carousel-example-generic,
    .section-quote, 
    .section-info, 
    .section-newsletter {
        display: none !important;
    }

    @media #{$screen-sm} { 
        .home .page-header-main {
       
            width: 100%;
        }

        .page-title,
        .page-subtitle {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .info-wrapper {
            .handouts {
                width: 100%;
                display: block;
            }
        }
    }

}