//.container {
//    background: 0 none !important;
//    margin-right: auto !important;
//    margin-left: auto !important;
//    max-width: none !important;
//    min-width: 0 !important;
//    width: auto !important;
//    .row {
//        background: 0 none;
//        border: 0 none;
//        box-shadow: none;
//        display: block;
//        table-layout: auto;
//    }
//}
#intive {
    width: $intive-width;
}

.window-wrap {
    position: relative;
    background :#fff;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container-no-paddig {
    border: none !important;
    padding: 0px !important;
}

.courseware {
    .container {
        padding: 0px;
        border: 0px;
    }
}

.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button .fa-bookmark  {
    color: #fd7400;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav button.active {
    border-bottom: 3px solid #fd7400 !important;
}



.new-course-button {
    padding: 14px 25px !important;
    border-radius: 30px !important;
    background-color: #fd7400 !important;
    color: #fff !important;
    border: none !important;
    box-shadow: none !important;
    background-image: none !important;
}

.dashboard .wrapper-find-courses {
    margin-top: 53px;
}

body.view-in-course .header-global, body.view-in-course .header-global.slim {
    width: 100%;
}

#content.content-wrapper {
    margin-top: 40px;
}

.my-new-container {
    padding-top: 0px;
}

.category-tab a, .category-tab a:link, .category-tab a:visited {
    color: #555 !important;
}

.btn-orange {
    padding: 14px 25px;
    border-radius: 30px;
    background-color: #fd7400;

    border: 0 none;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #ffffff;
    &:hover {
        color: #ffffff;
        border: 0 none;
    }
}

header {
    height: auto;
    &.header-global {
        position: absolute;
        background: 0 none;
        border: 0 none;
        box-shadow: none;
        //-webkit-filter: blur(10px);
        //filter: blur(10px);
        //background-color: rgba(0, 0, 0, 0.6);
        background: rgba(0, 0, 0, 0.6); /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#000000, rgba(0, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#000000, rgba(0, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#000000, rgba(0, 0, 0, 0)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#000000, rgba(0, 0, 0, 0)); /* Standard syntax */
        padding: 20px 15px 15px 15px;
        @media #{$screen-xs} {
            position: relative;
            height: auto;
            padding: 10px 15px 10px 15px;
        }
        .wrapper-header {
            max-width: 1140px;
            height: auto;
            padding: 0;
            width: auto;
            .logo {
                margin: 0 20px 0 0;
                padding: 0;
                a {
                    display: block;
                    width: 149px;
                    height: 40px;
                    background: url("../images/finetech-logo-white.png") 0 0 no-repeat;
                }
            }
            ol {
                &.left {
                    float: right;
                    &.authenticated {
                        float: left;
                    }
                }
                &.list-inline {
                    margin: 0;
                    padding: 0;
                    &.nav-global, &.nav-courseware {
                        margin: 0;
                        padding: 0;
                    }
                    li {
                        margin :0;
                        a {
                            margin: 0;
                            padding: 13px 15px;
                            font-family: 'Open Sans';
                            font-size: 12px;
                            font-weight: 600;
                            letter-spacing: 1.2px;
                            text-align: left;
                            color: #ffffff;
                            background: 0 none;
                            border: 0 none;
                            &:hover {
                                background: 0 none;
                                box-shadow: none;
                                border: 0 none;
                            }
                            &.btn-login, &.btn-register {
                                background: 0 none;
                                box-shadow: none;
                                border: 0 none;
                            }
                            &.btn-orange {
                                padding: 14px 25px;
                                border-radius: 30px;
                                background-color: #fd7400;
                                @media #{$screen-xxs} {
                                    padding: 14px 10px;
                                }
                            }
                            @media #{$screen-xxs} {
                                padding: 14px 10px;
                            }
                        }
                    }
                }
            }
            .course-search {
                float: left;
                display: inline-block;
                @media #{$screen-xs} {
                    clear: both;
                    padding: 10px 0 0;
                }
                .form-inline {
                    border-radius: 30px;
                    background-color: rgba(245, 245, 245, 0.8);
                    .form-group {
                        display: inline-block !important;
                        margin-bottom: 0 !important;
                        vertical-align: middle !important;
                        input {
                            background: 0 none;
                            box-shadow: none;
                            border: 0 none;
                            height: 40px;

                            font-family: 'Open Sans';
                            font-size: 12px;
                            font-weight: 600;
                            letter-spacing: 1.2px;
                            text-align: left;
                            color: #4a4a4a;
                            font-style: normal;
                        }
                    }
                    button {
                        &.search-button {
                            background: 0 none;
                            box-shadow: none;
                            border: 0 none;
                            &:hover {
                                background: 0 none;
                                box-shadow: none;
                                border: 0 none;
                            }
                        }
                    }
                }
            }
        }
    }
}

body {
    &.is-authenticated, &.authenticated-views, &.view-login, &.view-register {

        header {
            height: auto;
            &.header-global {
                position: absolute;
                background: 0 none;
                border: 0 none;
                box-shadow: none;
                //-webkit-filter: blur(10px);
                //filter: blur(10px);
                //background-color: rgba(0, 0, 0, 0.6);

                background: #fff;
                @media #{$screen-xs} {
                    position: relative;
                    height: auto;
                    padding: 10px 15px 10px 15px;
                }
                .wrapper-header {
                    max-width: 1140px;
                    height: auto;
                    padding: 0;
                    width: auto;
                    .logo {
                        margin: 0 20px 0 0;
                        padding: 0;
                        a {
                            display: block;
                            width: 149px;
                            height: 35px;
                            background: url("../images/ftci-logo-black.png") 0 0 no-repeat;
                        }
                    }
                    ol {
                        &.left {
                            float: right;
                            &.authenticated {
                                float: left;
                            }
                        }
                        &.user {
                            li {
                                &.primary {
                                    position: relative;
                                }
                                a {
                                    &.user-link {
                                        padding: 0;
                                    }
                                }
                            }
                            .user-menu {
                                position: relative;
                                button {
                                    &.dropdown {
                                        padding: 0;
                                    }
                                    span {
                                        &.fa-user {
                                            background: #f2f2f2;
                                            border-radius: 40px;
                                            font-size: 20px;
                                            color: #1d1c1b;
                                            height: 40px;
                                            line-height: 40px;
                                            width: 40px;
                                        }
                                    }
                                }
                            }
                            .user-image-frame {
                                float: left;
                            }
                            .label-username {
                                float: left;
                                font-family: 'Open Sans';
                                font-size: 10px;
                                color: #9b9b9b;
                            }
                            .dropdown-menu {
                                min-width: 125px;
                                left: -122px;
                                position: absolute;
                                right: auto;
                                top: 36px;
                                z-index: 10000;
                                padding: 5px 0;
                                li {
                                    margin: 0;
                                    a {
                                        position: relative;
                                        margin: 0;
                                        padding: 8px 15px 8px 50px;
                                        font-family: 'Open Sans';
                                        font-size: 12px;
                                        font-weight: bold;
                                        letter-spacing: 1.2px;
                                        text-align: left;
                                        color: #4a4a4a;
                                        text-transform: uppercase;
                                        &::before {
                                            position: absolute;
                                            display: block;
                                            width: 20px;
                                            height: 20px;
                                            background: url("../images/ic-settings-24-px.png") 0 0 no-repeat;
                                            content: "";
                                            left: 15px;
                                            //top: 13px;
                                            //left: 14px;
                                            //display: block;
                                            //content: "\f068";
                                            //font-family: 'FontAwesome';
                                            //font-size: 20px;
                                            //font-weight: normal;
                                        }
                                    }
                                    &:first-child {
                                        a {
                                            &::before {
                                                position: absolute;
                                                display: block;
                                                width: 20px;
                                                height: 17px;
                                                background: url("../images/ic-home-24-px.png") 0 0 no-repeat;
                                                //top: 13px;
                                                //left: 14px;
                                                //display: block;
                                                //content: "\f015";
                                                //font-family: 'FontAwesome';
                                                //font-size: 20px;
                                                //font-weight: normal;
                                            }
                                        }
                                    }
                                    &:last-child {
                                        a {
                                            &::before {
                                                position: absolute;
                                                display: block;
                                                width: 20px;
                                                height: 20px;
                                                background: url("../images/ic-do-not-disturb-alt-24-px.png") 0 0 no-repeat;
                                                //top: 13px;
                                                //left: 14px;
                                                //display: block;
                                                //content: "\f068";
                                                //font-family: 'FontAwesome';
                                                //font-size: 20px;
                                                //font-weight: normal;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.list-inline {
                            margin: 0;
                            padding: 0;
                            &.nav-global, &.nav-courseware {
                                margin: 0;
                                padding: 0;
                            }
                            li {
                                margin :0;
                                a {
                                    color: #000000;
                                    &:hover {
                                        background: 0 none;
                                        box-shadow: none;
                                        border: 0 none;
                                    }
                                    &.btn-login, &.btn-register {
                                        background: 0 none;
                                        box-shadow: none;
                                        border: 0 none;
                                    }
                                    &.btn-orange {
                                        padding: 14px 25px;
                                        border-radius: 30px;
                                        background-color: #fd7400;
                                        @media #{$screen-xxs} {
                                            padding: 14px 10px;
                                        }
                                    }
                                    @media #{$screen-xxs} {
                                        padding: 14px 10px;
                                    }
                                }
                            }
                        }
                    }
                    .course-search {
                        float: left;
                        display: inline-block;
                        @media #{$screen-xs} {
                            clear: both;
                            padding: 10px 0 0;
                        }
                        .form-inline {
                            border-radius: 30px;
                            background-color: rgba(245, 245, 245, 0.8);
                            .form-group {
                                display: inline-block !important;
                                margin-bottom: 0 !important;
                                vertical-align: middle !important;
                                input {
                                    background: 0 none;
                                    box-shadow: none;
                                    border: 0 none;
                                    height: 40px;

                                    font-family: 'Open Sans';
                                    font-size: 12px;
                                    font-weight: 600;
                                    letter-spacing: 1.2px;
                                    text-align: left;
                                    color: #4a4a4a;
                                    font-style: normal;
                                }
                            }
                            button {
                                &.search-button {
                                    background: 0 none;
                                    box-shadow: none;
                                    border: 0 none;
                                    &:hover {
                                        background: 0 none;
                                        box-shadow: none;
                                        border: 0 none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

.banner-main-page {
    position: relative;
    .background {
        width: 100%;
        min-height: 400px;
        //background-color: rgba(0, 0, 0, 0);
        //background-image: linear-gradient(180deg, #32325c, rgba(34, 52, 99, 0)), url("/public/img/hero-background_v2.jpg");
        background-size: cover;
        background-position: center 0;
        background-repeat: no-repeat;
        @media #{$screen-sm} {
            background-position: 75% 0;
        }
        &.first {
            background-image: url("../images/banner_fintech_expert.jpg");
        }
        &.second {
            background-image: url("../images/banner_become_enterprenour.jpg");
        }
        &.third {
            background-image: url("../images/banner_future_finance.jpg");
        }
    }
    img {
        opacity: 0.9;
        margin: 0 auto;
    }
    .carousel-indicators {
        text-align: right;
        li {
            border: 1px solid #fff;
            margin: 1px;
        }
    }
    .carousel-caption {
        left: 25%;
        right: 25%;
        bottom: 18%;
        text-align: left;
        text-shadow: none;
        @media #{$screen-md} {
            left: 15%;
            right: 15%;
            bottom: 12%;
        }
        @media #{$screen-sm} {
            left: 7%;
            right: 7%;
            bottom: 3%;
        }
        @media #{$screen-xs} {
            left: 5%;
            right: 5%;
            bottom: 15%;
        }
        @media #{$screen-xxs} {
            left: 5%;
            right: 5%;
            bottom: 30%;
        }
        h2 {
            margin-bottom: 30px;
            font-family: 'Open Sans';
            font-size: 40px;
            font-weight: bold;
            letter-spacing: 1px;
            text-align: left;
            color: #ffffff;
            @media #{$screen-sm} {
                margin-bottom: 20px;
                font-size: 36px;
            }
            @media #{$screen-xs} {
                margin-bottom: 20px;
            }
            @media #{$screen-xs} {
                margin-bottom: 10px;
                font-size: 36px;
            }
            @media #{$screen-xxs} {
                margin-bottom: 10px;
                font-size: 20px;
            }
            span {
                border-bottom: 4px solid #fd7400;
                font-size: 40px;
                font-weight: bold;
                letter-spacing: 1px;
                text-align: left;
                color: #ffffff;
                @media #{$screen-xs} {
                    font-size: 36px;
                }
                @media #{$screen-xxs} {
                    font-size: 20px;
                }
            }
        }
        span {
            font-family: 'Open Sans';
            font-size: 16px;
            letter-spacing: 1px;
            text-align: left;
            color: #ffffff;
            @media #{$screen-xs} {
                font-size: 12px;
            }
        }
    }
    .btn-orange {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 16px 15px;
        border-radius: 60px;
        background-color: #fd7400;
        font-family: 'Open Sans';
        font-size: 12px;
        line-height: 18px;
        font-weight: bold;
        letter-spacing: 1.2px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        border: 0 none;
        &:hover {
            color: #ffffff;
            border: 0 none;
        }
    }
}

.home, .find-courses {
    padding: 0;
    background: 0 none;
    .courses-container {
        padding: 0;
        .wrapper-search-context {
            margin: 20px 0 0 0;
            .search-status-label {
                font-family: 'Open Sans';
                font-size: 24px;
                letter-spacing: 0.9px;
                color: #9b9b9b;
            }
        }
        .highlighted-courses {
            margin-bottom: 20px;
        }
        .courses {
            .courses-listing {
                .courses-listing-item {
                    max-height: 266px;
                    article {
                        background: #fff;
                        border: 1px solid #dcdcdc;
                        border-radius: 5px;
                        box-shadow: none;
                        &:hover, &:focus {
                            box-shadow: 10px 50px -1px 0 #4a4a4a;
                        }
                        a {
                            &:hover {
                                @extend .transition;
                                box-shadow: 2px 10px 14px -4px #d8d8d8;
                                img {
                                    @extend .transition;
                                    opacity: 1 !important;
                                }
                                .learn-more {
                                    @extend .transition;
                                    display: block !important;
                                }
                            }
                            .course-image {
                                margin: 0 0 10px 0;
                                .cover-image {
                                    height: 120px;
                                    &:before {
                                        @extend .transition;
                                        opacity: 0;
                                        height: 120px;
                                    }
                                    img {
                                        @extend .transition;
                                        opacity: 0.6;
                                    }
                                    .learn-more {
                                        @extend .transition;
                                        display: none;
                                        //display: block;
                                        background: rgba(0, 0, 0, 0.65);
                                        opacity: 0.95;
                                        top: 36px;
                                        left: calc(50% - 26px);
                                        width: 52px;
                                        height: 52px;
                                        border-radius: 26px;
                                        &:before {
                                            position: relative;
                                            top: 16px;
                                            content: "";
                                            display: block;
                                            width: 16px;
                                            height: 20px;
                                            background: url("../images/triangle.png") 0 0 no-repeat;
                                            //width: 0;
                                            //height: 0;
                                            //border-top: 60px solid transparent;
                                            //border-bottom: 60px solid transparent;
                                            //border-left: 60px solid #fd7400;
                                        }
                                        //&::before {
                                        //    position: absolute;
                                        //    top: 13px;
                                        //    left: 14px;
                                        //    display: block;
                                        //    content: "\f144";
                                        //    font-family: 'FontAwesome';
                                        //    font-size: 6px;
                                        //    font-weight: normal;
                                        //}
                                    }
                                }
                            }
                            .course-info {
                                height: 133px;
                                h2 {
                                    margin: 0;
                                    span {
                                        display: block;
                                        &.course-organization {
                                            height: 10px;
                                            overflow: hidden;
                                            padding: 0;
                                            margin: 0 15px 12px 15px;
                                            font-family: 'Open Sans';
                                            font-size: 10px;
                                            line-height: 10px;
                                            font-weight: 600;
                                            letter-spacing: 0.7px;
                                            text-align: left;
                                            color: #fd7400;
                                        }
                                        &.course-code, &.course-title {
                                            height: 44px;
                                            overflow: hidden;
                                            line-height: 22px;
                                            margin: 0 15px 10px 15px;
                                            font-family: 'Open Sans';
                                            font-size: 18px;
                                            font-weight: 600;
                                            letter-spacing: 0.1px;
                                            text-align: left;
                                            color: #4a4a4a;
                                        }
                                        &.course-tags {
                                            overflow: hidden;
                                            height: 28px;
                                            padding: 0;
                                            margin: 0 15px 8px 15px;
                                            font-family: 'Open Sans';
                                            font-size: 10px;
                                            line-height: 14px;
                                            letter-spacing: 0.7px;
                                            text-align: left;
                                            color: #9b9b9b;
                                        }
                                    }
                                }
                            }
                            .course-date {
                                padding: 0;
                                margin: 0 15px;
                                height: 10px;
                                overflow: hidden;
                                font-family: 'Open Sans';
                                font-size: 10px;
                                line-height: 10px;
                                letter-spacing: 0.7px;
                                text-align: left;
                                color: #4a4a4a;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
}

.container {
    &.dashboard {
        border: 0 none;
        .wrapper-header-courses {
            text-align: center;
            border: 0 none;
            h2 {
                font-family: 'Open Sans';
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 0.1px;
                text-align: center;
                color: #4a4a4a;
            }
        }
        .listing-courses {
            .course-item {
                .course-container {
                    border-radius: 5px;
                    background-color: #ffffff;
                    border: solid 1px #dcdcdc;
                    .course {
                        margin: 0;
                        .wrapper-course-image {
                            a {
                                border: 0 none;
                                font-family: 'Open Sans';
                                font-size: 10px;
                                letter-spacing: 0.7px;
                                text-align: left;
                                color: #4a4a4a;
                            }
                        }
                        .wrapper-course-details {
                            padding: 18px 22px 10px 0;
                            h3, h3 a {
                                font-family: 'Open Sans';
                                margin: 0;
                                font-size: 18px;
                                line-height: 24px;
                                font-weight: 600;
                                letter-spacing: 0.1px;
                                text-align: left;
                                color: #4a4a4a;
                            }
                            .course-info {
                                span {
                                    font-family: 'Open Sans';
                                    font-size: 10px;
                                    letter-spacing: 0.7px;
                                    text-align: left;
                                    color: #4a4a4a;
                                }
                            }
                        }
                    }
                }
            }
        }
        .wrapper-find-courses {
            .course-advertise {
                border: 0 none;
                .advertise-message {
                    font-family: 'Open Sans';
                    font-size: 12px;
                    letter-spacing: 0.9px;
                    text-align: left;
                    color: #4a4a4a;
                }
                .ad-link {
                    a {
                        display: block;
                        width: 100%;
                        padding: 16px 15px;
                        border-radius: 60px;
                        background-color: #fd7400;
                        font-family: 'Open Sans';
                        font-size: 12px;
                        line-height: 18px;
                        font-weight: bold;
                        letter-spacing: 1.2px;
                        text-align: center;
                        color: #ffffff;
                        text-transform: uppercase;
                        border: 0 none;
                        &:hover {
                            color: #ffffff;
                            border: 0 none;
                        }
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.course-info {
    header {
        &.course-profile {
            height: auto;
            margin: 0;
            padding: 0;
            .intro-inner-wrapper {
                .intro {
                    padding: 20px 0;
                }
                .hero {
                    border: 0 none !important;
                }
                border: 0 none;
                h1 {
                    font-family: 'Open Sans';
                    font-size: 30px;
                    font-weight: bold;
                    color: #4a4a4a;
                    letter-spacing: 0.9px;
                    button {
                        background: 0 none;
                        border: 0 none;
                        box-shadow: none;
                        padding: 0;
                        text-shadow: none;
                        color: #fd7400;
                    }
                }
                .main-cta {
                    a {
                        &.register {
                            padding: 14px 25px !important;
                            border-radius: 30px !important;
                            background-color: #fd7400 !important;

                            border: 0 none !important;
                            font-family: 'Open Sans' !important;
                            font-size: 12px !important;
                            font-weight: 600 !important;
                            letter-spacing: 1.2px !important;
                            color: #ffffff !important;
                            background-image: none !important;
                            text-shadow: none !important;
                            box-shadow: none !important;
                            &:hover {
                                color: #ffffff !important;
                                border: 0 none !important;
                                background-color: #fd7400 !important;
                                background-image: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .container {
        padding: 0;
        border: 0 none;
        h2 {
            font-family: 'Open Sans';
            font-size: 20px;
            font-weight: bold;
            color: #4a4a4a;
            letter-spacing: 0.9px;
        }
        h3 {
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: bold;
            color: #4a4a4a;
            letter-spacing: 0.9px;
        }
        p {
            font-family: 'Open Sans';
            font-size: 12px;
            letter-spacing: 0.9px;
            color: #9b9b9b;
            a {
                color: #fd7400;
            }
        }
    }
}

#content.content-wrapper {
    margin-top: 40px;
    max-width: 1140px;
    .container {
        h1 {
            font-family: 'Open Sans';
            color: #4a4a4a;
        }
        p {
            font-family: 'Open Sans';
            color: #4a4a4a;
        }
    }
}



.section-quote {
    background: #f7f7f7 url("../images/quote.png") 45% 20% no-repeat;
    padding: 65px 0;
    @media #{$screen-md} {
        background-position: 51% 22%;
    }
    @media #{$screen-sm} {
        background-position: 62% 18%;
    }
    @media #{$screen-xs} {
        background-position: center 70%;
        text-align: center;
    }
    //.container {
    //    background: 0 none !important;
    //    margin-right: auto !important;
    //    margin-left: auto !important;
    //    max-width: none !important;
    //    min-width: 0 !important;
    //    width: auto !important;
    //    .row {
    //        background: 0 none;
    //        border: 0 none;
    //        box-shadow: none;
    //        display: block;
    //        table-layout: auto;
    //    }
    //}
    //
    //.container {
    //    max-width: none;
    //    min-width: 0;
    //}
    //.row {
    //    width: auto;
    //    max-width: none;
    //}
    img {
        @media #{$screen-xs} {
            margin: 0 auto 40px;
        }
    }
    .box {
        margin: 70px 0 0 0;
        @media #{$screen-xs} {
            margin: 0;
        }
        p {
            display: block;
            margin-bottom: 55px;
            font-family: 'Open Sans';
            font-size: 20px;
            font-style: italic;
            color: #4a4a4a;
        }
        strong {
            position: relative;
            display: block;
            margin-bottom: 5px;
            font-family: 'Open Sans';
            font-size: 20px;
            font-weight: 600;
            color: #4a4a4a;
            @media #{$screen-xs} {
                display: inline-block;
            }
            &:before {
                position: absolute;
                top: 50%;
                left: -42px;
                content: "";
                display: block;
                width: 36px;
                height: 2px;
                background: #008fd3;
            }
        }
        span {
            display: block;
            font-family: 'Open Sans';
            font-size: 14px;
            color: #9b9b9b;
        }
    }
}

.section-info {
    position: relative;
    text-align: center;

    background: url("../images/become_lecturer.jpg") center 0 no-repeat;
    display: block;
    min-height: 421px;
    padding: 85px 0;
    //.container {
    //    background: 0 none !important;
    //    margin-right: auto !important;
    //    margin-left: auto !important;
    //    max-width: none !important;
    //    min-width: 0 !important;
    //    width: auto !important;
    //    .row {
    //        background: 0 none;
    //        border: 0 none;
    //        box-shadow: none;
    //        display: block;
    //        table-layout: auto;
    //    }
    //}
    //
    //.container {
    //    max-width: none;
    //    min-width: 0;
    //}
    //.row {
    //    width: auto;
    //    max-width: none;
    //}
    img {
        margin: 0 auto;
    }
    .item {
        text-align: center;
        text-shadow: none;
        h3 {
            margin-bottom: 30px;
            font-family: 'Open Sans';
            font-size: 40px;
            font-weight: bold;
            letter-spacing: 1px;
            text-align: center;
            color: #ffffff;
            @media #{$screen-sm} {
                font-size: 40px;
            }
            @media #{$screen-xs} {
                font-size: 32px;
            }
            span {
                display: inline;
                border-bottom: 4px solid #fd7400;
                font-size: 40px;
                letter-spacing: 0.6px;
                text-align: center;
                color: #ffffff;
                @media #{$screen-sm} {
                    font-size: 40px;
                }
                @media #{$screen-xs} {
                    font-size: 32px;
                }
            }
        }
        span {
            display: block;
            font-family: 'Open Sans';
            font-size: 24px;
            letter-spacing: 0.6px;
            text-align: center;
            color: #ffffff;
            @media #{$screen-sm} {
                font-size: 20px;
            }
            @media #{$screen-xs} {
                font-size: 16px;
            }
        }
        a {
            margin-top: 45px;
            padding: 16px 15px;
            border-radius: 60px;
            background-color: #fd7400;
            font-family: 'Open Sans';
            font-size: 12px;
            line-height: 18px;
            font-weight: bold;
            letter-spacing: 1.2px;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
            border: 0 none;
            &:hover {
                color: #ffffff;
                border: 0 none;
            }
        }
    }
}

.section-popular-courses {
    position: relative;
    padding: 70px 0 30px;
    text-align: center;
    background: #f7f7f7;

    //.container {
    //    background: 0 none !important;
    //    margin-right: auto !important;
    //    margin-left: auto !important;
    //    max-width: none !important;
    //    min-width: 0 !important;
    //    width: auto !important;
    //    .row {
    //        background: 0 none;
    //        border: 0 none;
    //        box-shadow: none;
    //        display: block;
    //        table-layout: auto;
    //    }
    //}
    //
    //.container {
    //    max-width: none;
    //    min-width: 0;
    //}
    //.row {
    //    width: auto;
    //    max-width: none;
    //}
    h4 {
        font-family: 'Open Sans';
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.1px;
        text-align: center;
        color: #4a4a4a;
    }
    .btn-orange {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 16px 15px;
        border-radius: 60px;
        background-color: #fd7400;
        font-family: 'Open Sans';
        font-size: 12px;
        line-height: 18px;
        font-weight: bold;
        letter-spacing: 1.2px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        border: 0 none;
        &:hover {
            color: #ffffff;
            border: 0 none;
        }
    }
}

.section-tag {
    padding: 90px 0;
    text-align: center;
    background: #fff;

    &.categories-tabs {
        padding: 15px 0;
        ul {
            margin: 0;
            li {
                a {
                    padding: 12px 12px;
                    font-family: 'Open Sans';
                    font-size: 12px;
                    letter-spacing: 0.9px;
                    text-align: left;
                    color: #4a4a4a;
                    &:hover {
                        color: #4a4a4a;
                        border: 0 none;
                    }
                }
            }
        }
    }

    //.container {
    //    background: 0 none !important;
    //    margin-right: auto !important;
    //    margin-left: auto !important;
    //    max-width: none !important;
    //    min-width: 0 !important;
    //    width: auto !important;
    //    .row {
    //        background: 0 none;
    //        border: 0 none;
    //        box-shadow: none;
    //        display: block;
    //        table-layout: auto;
    //    }
    //}
    //
    //.container {
    //    max-width: none;
    //    min-width: 0;
    //}
    //.row {
    //    width: auto;
    //    max-width: none;
    //}
    h4 {
        font-family: 'Open Sans';
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.1px;
        text-align: center;
        color: #4a4a4a;
    }
    ul {
        margin: 80px 0;
        li {
            display: inline-block;
            margin: 7px 5px;
            a {
                padding: 5px 7px;
                border-radius: 5px;
                font-family: 'Open Sans';
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 1.2px;
                text-align: center;
                color: #ffffff;
                border: 0 none;
                &:hover {
                    color: #ffffff;
                    border: 0 none;
                }
                &.btn-tag-blue {
                    background-color: #008fd3;
                }
                &.btn-tag-violet {
                    background-color: #9012fe;
                }
                &.btn-tag-green {
                    background-color: #417505;
                }
            }
        }
    }
}

.section-newsletter {
    padding: 40px 0;
    background: #f6a623;
    .container-bs {
        @media #{$screen-md} {
            width: 100%;
        }
    }
    h5 {
        margin-top: 0;
        margin-bottom: 5px;
        font-family: 'Open Sans';
        font-size: 24px;
        line-height: 24px;
        font-weight: bold;
        line-height: normal;
        color: #ffffff;
    }
    span {
        font-family: 'Open Sans';
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 1px;
        text-align: left;
        color: #a45818;
    }
    .form-inline {
        margin: 8px 0 0 0;
        display: table;
        width: 100%;
        .form-group {
            display: table-cell;
            padding: 0 50px 0 0;
            width: 90%;
            @media #{$screen-xs} {
                display: block;
                padding: 0;
                width: 100%;
            }
        }
    }
    input[type="email"] {
        width: 100%;
        height: auto;
        padding: 18px 35px 16px;
        background: 0 none;
        box-shadow: none;
        border-radius: 0;
        font-family: 'Open Sans';
        font-size: 12px;
        line-height: 14px;
        font-weight: bold;
        letter-spacing: 1.2px;
        text-align: center;
        color: #a45817;
        border: 0 none;
        border-bottom: 2px solid #fff;
        text-transform: uppercase;
        font-style: normal;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #a45817;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: #a45817;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: #a45817;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: #a45817;
        }

        &:hover, &:focus {
            color: #a45817;
            background: 0 none;
            box-shadow: none;
            border-radius: 0;
            border-bottom: 2px solid #fff;
        }
    }
    button {
        display: table-cell;
        padding: 19px 35px;
        box-shadow: none;
        border-radius: 0;
        border-radius: 60px;
        border: 0 none;
        background-color: #ffffff;
        font-family: 'Open Sans';
        font-size: 12px;
        line-height: 12px;
        font-weight: bold;
        letter-spacing: 1.2px;
        text-align: center;
        color: #fd7400;
        text-transform: uppercase;
        &:hover, &:focus {
            background: #ffffff;
            box-shadow: none;
            border-radius: 0;
            border-radius: 60px;
            border: 0 none;
            color: #fd7400;
        }
        @media #{$screen-xs} {
            display: block;
            width: 100%;
        }
    }
}

footer#footer-edx-v3 {
    &.footer-main {
        //background: url("../images/footer-background.png") top left repeat!important;
        background: none;
        padding: 0;
        border-top: 0 none;
        .top-section {
            padding: 0 15px 10px 15px;
            background-color: #f7f7f7;
        }
        .bottom-section {
            padding: 0 15px;
            background-color: #9b9b9b;
        }
        .footer-content-wrapper {
            max-width: 1140px;
            .site-details {
                width: 100%;
                nav {
                    margin: 20px 0;
                    &.site-nav {
                        ul {
                            li {
                                margin-right: 54px;
                                @media #{$screen-xs} {
                                    margin-right: 15px;
                                }
                                a, a:visited {
                                    font-family: 'Open Sans';
                                    font-size: 12px;
                                    line-height: 17px;
                                    letter-spacing: 1.2px;
                                    text-align: left;
                                    color: #4a4a4a;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                    &.legal-notices {
                        margin: 15px 0;
                        ul {
                            li {
                                margin-right: 34px;
                                @media #{$screen-xs} {
                                    margin-right: 15px;
                                }
                                a, a:visited {
                                    font-family: 'Open Sans';
                                    font-size: 10px;
                                    line-height: 14px;
                                    text-align: left;
                                    color: #ffffff;
                                    letter-spacing: 1px;
                                }
                            }
                        }
                    }
                }
                .logo-section {
                    float: left;
                    width: 100%;
                    margin-bottom: 25px;
                    .footer-logo {
                        margin: 0;
                        width: auto;
                        height: auto;
                    }
                    .openedx-link {
                        margin: 0;
                        width: auto;
                        height: auto;
                    }
                    .footer-logo, .openedx-link {
                        a {
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }
                p {
                    margin: 0 0 10px 0;
                    font-family: 'Open Sans';
                    font-size: 8px;
                    line-height: 11px;
                    text-align: left;
                    color: #4a4a4a;
                    letter-spacing: 1.2px;
                    a {
                        font-family: 'Open Sans';
                        font-size: 8px;
                        line-height: 11px;
                        text-align: left;
                        color: #4a4a4a;
                        letter-spacing: 1.2px;
                    }
                }
            }
        }
    }
}
