#intive {
    width: $intive-width;
}

header .logo-header .logo a img {
    height: 45px;
}

footer#footer-edx-v3 {
    background: url("../images/footer-background.png") top left repeat!important;
}

footer .footer-logo a img {
    height: 45px;
}