body.view-press { 
     
    header.header-global {
        position: relative !important;
    }

    header.header-global .wrapper-header .course-search {
        display: none;
    }

    div#carousel-example-generic,
    .section-quote, 
    .section-info, 
    .section-newsletter {
        display: none !important;
    }
}