// studio - developer
// ====================
// NOTE: use this area for any developer-needed or created styling that needs to be refactored into patterns or visually polished. Please list any template/view that your styles reference when definining them (example below):

// Views: Login, Sign Up
// .crazy-new-feature {
//   background: transparent;
// }

// --------------------

.btn-orange {
  padding: 14px 25px;
  border-radius: 30px;
  background-color: #fd7400;

  border: 0 none;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: #ffffff;
  &:hover {
    color: #ffffff;
    border: 0 none;
    text-decoration: none;
  }
}

.wrapper {
  &.wrapper-view {
    background: #fff;
    .wrapper-header {
      padding: 20px 15px 15px;
      h1 {
        padding: 0;
        margin: 0;
      }
      .wrapper {
        nav {
          padding: 0;
          top: 0;
          ol {
            li {
              span {
                &.label {
                  color: #000000;
                }
              }
              h3 {
                padding: 0 10px;
                margin: 0;
              }
            }
          }
        }
      }
    }
    .courses {
      .list-courses {
        background: 0 none;
        border: 0 none;
        li {
          background: #fff;
          border: 1px solid #dcdcdc;
          margin: 0 0 20px 0;
          h3 {
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.1px;
            text-align: left;
            color: #4a4a4a;
          }
          .course-metadata {
            span {
              font-family: 'Open Sans';
              font-size: 10px;
              letter-spacing: 0.7px;
              text-align: left;
              color: #4a4a4a;
            }
          }
        }
      }
    }
    .content-supplementary {
      h3 {
        margin: 0 0 20px 0;
        font-family: 'Open Sans';
        font-size: 18px;
        letter-spacing: 0.9px;
        color: #4a4a4a;
      }
      p {
        font-family: 'Open Sans';
        font-size: 12px;
        letter-spacing: 0.9px;
        color: #4a4a4a;
      }
      ol {
        li {
          a {
            font-family: 'Open Sans';
            font-size: 12px;
            letter-spacing: 0.9px;
            color: #4990e2;
          }
        }
      }
    }



  }
}

.not-signedin {
  .section-info {
    display: none;
  }
}

.is-signedin {
  .section-info {
    position: relative;
    text-align: center;
    background-image: url("../images/lecturer_centre_small.jpg");
    display: block;
    width: 100%;
    min-height: 220px;
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;

    //padding: 85px 0;
    //.container {
    //    background: 0 none !important;
    //    margin-right: auto !important;
    //    margin-left: auto !important;
    //    max-width: none !important;
    //    min-width: 0 !important;
    //    width: auto !important;
    //    .row {
    //        background: 0 none;
    //        border: 0 none;
    //        box-shadow: none;
    //        display: block;
    //        table-layout: auto;
    //    }
    //}
    //
    //.container {
    //    max-width: none;
    //    min-width: 0;
    //}
    //.row {
    //    width: auto;
    //    max-width: none;
    //}
    img {
      margin: 0 auto;
    }
    .item {
      text-align: center;
      text-shadow: none;
      h3 {
        margin-top: 95px;
        margin-bottom: 30px;
        //font-family: 'Open Sans';
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff;
        @media #{$screen-sm} {
          font-size: 40px;
        }
        @media #{$screen-xs} {
          font-size: 32px;
        }
        span {
          display: inline;
          border-bottom: 4px solid #fd7400;
          font-size: 40px;
          letter-spacing: 0.6px;
          text-align: center;
          color: #ffffff;
          @media #{$screen-sm} {
            font-size: 40px;
          }
          @media #{$screen-xs} {
            font-size: 32px;
          }
        }
      }
    }
  }
}


.view-howitworks {
  &.not-signedin {
    .content-features {
      .feature {
        .copy {
          width: 50%;
          padding: 0 15px;
          h3 {
            font-family: 'Open Sans';
            font-size: 20px;
            line-height: 26px;
            color: #4a4a4a;
            letter-spacing: 0.9px;
          }
          p {
            font-family: 'Open Sans';
            font-size: 12px;
            line-height: 15px;
            color: #4a4a4a;
            letter-spacing: 0.9px;
          }
          ul {
            &.list-proofpoints {
              li {
                &.proofpoint-ft {
                  width: 100%;
                  min-height: 0;
                  padding: 15px 0;
                  &:hover {
                    background: 0 none;
                    border: 0 none;
                    box-shadow: none;
                    top: 0;
                    h4 {
                      font-family: 'Open Sans';
                      font-size: 18px;
                      line-height: 22px;
                      color: #4a4a4a;
                      letter-spacing: 0.9px;
                    }
                    p {
                      font-family: 'Open Sans';
                      font-size: 12px;
                      line-height: 15px;
                      color: #9b9b9b;
                      letter-spacing: 0.9px;
                    }
                  }
                  h4 {
                    font-family: 'Open Sans';
                    font-size: 18px;
                    line-height: 22px;
                    color: #4a4a4a;
                    letter-spacing: 0.9px;
                  }
                  p {
                    font-family: 'Open Sans';
                    font-size: 12px;
                    line-height: 15px;
                    color: #9b9b9b;
                    letter-spacing: 0.9px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .content-cta {
      position:relative;
      border: 0 none;
      padding-bottom: 65px;
      h2 {
        font-family: 'Open Sans';
        font-size: 18px;
        letter-spacing: 0.9px;
        color: #4a4a4a;
      }
      a {
        position: absolute;
        bottom: -65px;
        left: 0;
        right: 0;
        z-index: 100;
        display: table;
        margin: 0 auto;
        padding: 14px 50px;
        line-height: 22px;
      }
    }
  }
}

.wrapper-footer {
  &.wrapper {
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px 0;
    p {
      //font-family: 'Open Sans';
      font-size: 8px;
      text-align: left;
      color: #4a4a4a;
      a {
        //font-family: 'Open Sans';
        font-size: 8px;
        text-align: left;
        color: #4a4a4a;
      }
    }
  }
}

@import '_login.scss';