<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%namespace file='main.html' import="login_query"/>
<%namespace name='static' file='static_content.html'/>


% if has_extauth_info is UNDEFINED:

<div class="login">
  <h3 class="title">${_("Already registered?")}</h3>
  <p class="instructions">
    <a class="btn-login-action" href="${reverse('signin_user')}${login_query()}">
      ${_("LOGIN")}
    </a>
  </p>
</div>

% endif
